.table {
    font-size: 14px;

    border: 1px solid $main-border;
    border-collapse: collapse;

    tr {
        background-color: $main-background-dark;

        &:nth-child(odd) {
            background-color: white;
        }

        td {
            padding: 10px;
        }

        th {
            text-align: left;
            font-weight: bold;
            padding: 10px;
        }
    }
}