<div class="event-detail-preview">
  <app-event-detail-preview-section class="event-detail-preview__section"
                                    title="Bénévoles"
                                    [value]="numberOfVolunteer"
                                    [maximum]="numberOfVolunteerNeeded"></app-event-detail-preview-section>
  <app-event-detail-preview-section class="event-detail-preview__section"
                                    title="Remplaçants"
                                    [value]="numberOfStandby"
                                    [maximum]="numberOfStandbyNeeded"></app-event-detail-preview-section>
</div>
