@import "../../../../assets/scss/_theme.scss";

.login-page {
  height: 100vh;
  background-image:
    linear-gradient(
        rgba(0, 0, 0, 0.3),
        rgba(0, 0, 0, 0.3)
    ),
    url('../../../../assets/images/login.jpg');
  background-size: cover;

  display: flex;
  flex-direction: column;

  &__logo {
    color: white;
    font-weight: 900;
    font-size: 25px;
    margin: 20px;
  }

  &__login {
    flex: 1;

    display: flex;
    justify-content: center;
    align-items: center;

    &__content {
      box-shadow: 0 0 3px lightgrey;
      text-align: center;
      max-width: 375px;
      margin-top: 0;

      &__logo{
        height: 70px;
        margin: auto;
      }

      &__title {
        margin-top: 0;
      }

      &__form {
        text-align: left;

        width: 80%;
        max-width: 300px;
        margin: auto;

        &__error {
          color: red;
          text-align: center;
        }
      }

      &__thanks {
        font-size: 12px;
        display: none;
      }
    }
  }
}

@media only screen and (max-width: 500px) {
  .login-page__login__content {
    width: 100%;
    height:100%;
    max-width: 100%;
  }

  .login-page__login__content__thanks {
    display: block;
  }

  .login-page__logo {
    display: none;
  }
}
