<div class="login-page">
  <div class="login-page__logo">
    Volontaria
  </div>
  <div class="login-page__login">
    <div class="login-page__login__content card">
      <img class="login-page__login__content__logo" src="assets/images/logo.png" alt="Logo of NousRire" />
      <h2 class="login-page__login__content__title">
        Se connecter
      </h2>
      <p class="card card--warning">
        Tous les bénévoles, anciens et nouveaux,
        doivent se créer un nouveau compte!
      </p>
      <form class="login-page__login__content__form" (ngSubmit)="authenticate()">
        <p *ngIf="error" class="login-page__login__content__form__error">
          {{error}}
        </p>
        <p>
          Nom d'utilisateur
          <input [(ngModel)]="login" id="login_username" maxlength="40" name="username" placeholder="Nom d'utilisateur" type="text" />
        </p>
        <p>
          Mot de passe
          <input [(ngModel)]="password" id="login_password" maxlength="40" name="password" placeholder="Password" type="password" />
        </p>
        <button class="button">Se connecter</button>
        <p>
          <a routerLink='/register'>Pas encore de compte?</a>
        </p>
      </form>
      <my-modal name="hello world" title="Desinscription a un evenement">
        Voulez-vous vraiment supprimer votre participation ?
      </my-modal>
      <button myModalOpen="hello world" class="button button--danger">
        Me désinscrire
      </button>
      <p class="login-page__login__content__thanks">
        Propulsé par Volontaria.
      </p>
    </div>
  </div>
</div>
