@import "../../../../assets/scss/_theme.scss";

.login-page {
  max-width: 350px;
  padding: 20px;

  &__logo{
    height: 70px;
    margin: auto;
  }

  &__title {
    margin-top: 0;
  }

  &__form {
    text-align: left;

    &__error {
      color: red;
      text-align: center;
    }
  }

  &__thanks {
    margin-top: 20px;
  }
}

@media only screen and (max-width: 500px) {
  .login-page {
    max-width: 100%;
  }
}
