.admin-cell {
  margin: 1rem;

  display: flex;
  flex-wrap: wrap;
  //justify-content: space-between;

  &__table {
    width: calc(100% - 2rem);
    padding: 1rem;
  }

  &__infos {
    width: calc(50% - 2rem);
    padding: 1rem;
  }

  &__buttons {
    width: calc(50% - 2rem);
    padding: 1rem;
  }

  &__actions {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__filters {
      display: flex;
      flex-wrap: wrap;
      padding: 1rem 0;

      &__filter {
        width: 300px;
        box-sizing: border-box;
        padding-right: 2rem;
      }
    }
  }

  .button-op {
      width: 300px;
    }

  &__table {
    margin-top: 10px;
  }
}

@media only screen and (max-width: 500px) {
  .admin-cell {
    &__infos {
      padding: 1rem;
      width: calc(100% - 2rem);
      overflow-x: scroll;
    }

    &__buttons {
      width: calc(100% - 2rem);
      padding: 1rem;
      overflow-x: scroll;
    }
  }
}

