<div class="admin-cell" *ngIf="cell">
  <div class="admin-cell__title">
    <h1 class="title title--main">Cellule de {{ cell.name }}</h1>
  </div>

  <a class="button" (click)="export_link_pressed($event)">Télécharger la liste des Participations</a>

  <p>
    <b>Adresse : </b>
    {{ cell.address.address_line1 }},
    <span *ngIf="cell.address.address_line2">{{ cell.address.address_line2 }},</span>
    {{ cell.address.city }},
    {{ cell.address.postal_code }}
  </p>

  <p>
    <b>Manageur(s) : </b>
    <span *ngFor="let manager of cell.managers">
      {{ manager.first_name }}
    </span>
  </p>

  <b>Plages horaires de la cellule :</b>
  <div class="admin-cell__actions">
    <div class="admin-cell__actions__filters">
      <angular2-multiselect [data]="dropdownCycleList" [(ngModel)]="selectedCycles"
                            [settings]="dropdownCycleSettings"
                            (onSelect)="onItemSelect($event)"
                            (onDeSelect)="OnItemDeSelect($event)"
                            (onSelectAll)="onSelectAll($event)"
                            (onDeSelectAll)="onDeSelectAll($event)">
      </angular2-multiselect>
      <angular2-multiselect [data]="dropdownTasktypeList" [(ngModel)]="selectedTasktypes"
                            [settings]="dropdownTasktypeSettings"
                            (onSelect)="onItemSelect($event)"
                            (onDeSelect)="OnItemDeSelect($event)"
                            (onSelectAll)="onSelectAll($event)"
                            (onDeSelectAll)="onDeSelectAll($event)">
      </angular2-multiselect>
    </div>
  </div>

  <app-my-table [settings]="settings"
                [data]="eventsAdaptedFiltered"
                (addButton)="openModalCreateEvent()"
                (selectItem)="visitEvent($event)"
                (editItem)="openModalEditEvent($event)">
  </app-my-table>
</div>


<app-my-modal name="event modal"
              [title]="modalTitle"
              [button2Label]="modalButton"
              (button2)="submitFormEvent()"
              typeModal="form"
              maxWidth="600px">

  <form [formGroup]="eventForm" *ngIf="eventForm">
    <div class="form-group">
      <label for="nb_volunteers_needed" class="form-label">Nombre de bénévoles requis:</label>
      <input class="input" formControlName="nb_volunteers_needed" id="nb_volunteers_needed" type="number" autofocus>
      <div class="form-text form-text--right form-text--danger"
           *ngFor="let errorMessage of eventForm.controls['nb_volunteers_needed'].getError('apiError')">
        {{ errorMessage}}
      </div>
    </div>

    <div class="form-group">
      <label for="nb_volunteers_standby_needed" class="form-label">Nombre de remplaçants requis:</label>
      <input class="input" formControlName="nb_volunteers_standby_needed" id="nb_volunteers_standby_needed" type="number" min="0">
      <div class="form-text form-text--right form-text--danger"
           *ngFor="let errorMessage of eventForm.controls['nb_volunteers_standby_needed'].getError('apiError')">
        {{ errorMessage}}
      </div>
    </div>

    <div class="form-group" *ngIf="tasktypes">
      <label for="task_type_id" class="form-label">Type d'activité:</label>
      <select formControlName="task_type_id" id="task_type_id" class="input input--select">
        <option value="" disabled>Choisis une activité</option>
        <option *ngFor="let taskType of tasktypes" [value]="taskType.id">{{ taskType.name }}</option>
      </select>
      <div class="form-text form-text--right form-text--danger"
           *ngFor="let errorMessage of eventForm.controls['task_type_id'].getError('apiError')">
        {{ errorMessage}}
      </div>
    </div>

    <div class="form-group" *ngIf="cycles">
      <label for="cycle_id" class="form-label">Cycle:</label>
      <select formControlName="cycle_id" id="cycle_id" class="input input--select" (change)="setSelectedCycle()">
        <option value="" disabled>Choisis un cycle</option>
        <option *ngFor="let cycle of cycles" [ngValue]="cycle.id">{{ cycle.name }}</option>
      </select>
      <div class="form-text form-text--right form-text--danger"
           *ngFor="let errorMessage of eventForm.controls['cycle_id'].getError('apiError')">
        {{ errorMessage}}
      </div>
    </div>

    <div class="form-group" *ngIf="selectedCycle">

      <label for="start_date" class="form-label">Début de la plage horaire:</label>
      <input [owlDateTimeTrigger]="dt12" [owlDateTime]="dt12"
             [min]="selectedCycle.start_date" [max]="selectedCycle.end_date"
             formControlName="start_date"  class="input"
             id="start_date">
      <owl-date-time #dt12 [firstDayOfWeek]="1"></owl-date-time>
      <div class="form-text form-text--right form-text--danger"
           *ngFor="let errorMessage of eventForm.controls['start_date'].getError('apiError')">
        {{ errorMessage}}
      </div>
    </div>

    <div class="form-group" *ngIf="selectedCycle">

      <label for="end_date" class="form-label">Fin de la plage horaire:</label>
      <input [owlDateTimeTrigger]="dt13" [owlDateTime]="dt13"
             [min]="selectedCycle.start_date" [max]="selectedCycle.end_date"
             formControlName="end_date" class="input"
             id="end_date">
      <owl-date-time #dt13 [firstDayOfWeek]="1" [startAt]="this.eventForm.controls['start_date'].value"></owl-date-time>
      <div class="form-text form-text--right form-text--danger"
           *ngFor="let errorMessage of eventForm.controls['end_date'].getError('apiError')">
        {{ errorMessage}}
      </div>
    </div>

    <div class="alert alert--danger" *ngIf="eventForm.hasError('apiError')">
      <div *ngFor="let error of eventForm.getError('apiError')">
        {{error}}
      </div>
    </div>

  </form>
</app-my-modal>
