<div class="admin-cell" *ngIf="cell">
  <div class="admin-cell__title">
    <h2>Cellule de {{ cell.name }}</h2>
  </div>

  <a class="button" (click)="export_link_pressed($event)">Télécharger la liste des Participations</a>

  <p>
    <b>Adresse : </b>
    {{ cell.address.address_line1 }},
    <span *ngIf="cell.address.address_line2">{{ cell.address.address_line2 }},</span>
    {{ cell.address.city }},
    {{ cell.address.postal_code }}
  </p>

  <p>
    <b>Manageur(s) : </b>
    <span *ngFor="let manager of cell.managers">
      {{ manager.first_name }}
    </span>
  </p>

  <b>Plages horaires de la cellule :</b>
  <div class="admin-cell__actions">
    <div class="admin-cell__actions__filters">
      <angular2-multiselect [data]="dropdownCycleList" [(ngModel)]="selectedCycles"
                            [settings]="dropdownCycleSettings"
                            (onSelect)="onItemSelect($event)"
                            (onDeSelect)="OnItemDeSelect($event)"
                            (onSelectAll)="onSelectAll($event)"
                            (onDeSelectAll)="onDeSelectAll($event)">
      </angular2-multiselect>
      <angular2-multiselect [data]="dropdownTasktypeList" [(ngModel)]="selectedTasktypes"
                            [settings]="dropdownTasktypeSettings"
                            (onSelect)="onItemSelect($event)"
                            (onDeSelect)="OnItemDeSelect($event)"
                            (onSelectAll)="onSelectAll($event)"
                            (onDeSelectAll)="onDeSelectAll($event)">
      </angular2-multiselect>
    </div>
    <div class="admin-cell__actions__buttons">
      <button hasPermissions="['can_create_event']" appMyModalOpen="create event"
              class="button button--success">
        Créer un event
      </button>
    </div>
  </div>
  <table class="table" style="width: 100%">
    <tr>
      <th>Début</th>
      <th>Fin</th>
      <th>Activité</th>
      <th>Lieu</th>
      <th>Inscription</th>
    </tr>
    <tr *ngIf="events && filteredEvents.length == 0">
      <td colspan="5">
        Aucune plage horaires pour le moment.
      </td>
    </tr>
    <tr *ngFor="let event of filteredEvents" (click)="visitEvent(event.id)" class="clickable">
      <td>
        {{ event.start_date | date:'dd MMMM yyyy'}}<br/>
        {{ event.start_date | date:'HH:mm'}}
      </td>
      <td>
        {{ event.end_date | date:'dd MMMM yyyy'}}<br/>
        {{ event.end_date | date:'HH:mm'}}
      </td>
      <td>
        {{ event.task_type.name }}
      </td>
      <td>
        {{ event.cell.address.address_line1 }}<br/>
        {{ event.cell.address.address_line2 }}<br/>
        {{ event.cell.address.postal_code }} {{ event.cell.address.city }}
      </td>
      <td>
        Bénévoles : {{ event.nb_volunteers }} / {{ event.nb_volunteers_needed }}<br>
        Remplaçants : {{ event.nb_volunteers_standby }} / {{ event.nb_volunteers_standby_needed }}<br>
      </td>
    </tr>
  </table>
</div>


<app-my-modal name="create event"
              title="Création d'un event"
              button2Label="Créer"
              (button1)="eventForm.reset()"
              (button2)="createEvent()"
              typeModal="form"
              button2Style="button--success">

  <form [formGroup]="eventForm">

    <input type="hidden" formControlName="cell_id">

    <div class="form-group">
      <label for="nb_volunteers_needed" class="form-label">Nombre de volontaires requis:</label>
      <input class="input" formControlName="nb_volunteers_needed" id="nb_volunteers_needed" type="number" autofocus>
      <div *ngIf="eventForm.controls['nb_volunteers_needed'].hasError('required')"
           class="form-text form-text--right form-text--danger">Le nombre de volontaires est obligatoire.
      </div>
      <div *ngIf="eventForm.controls['nb_volunteers_needed'].hasError('min')"
           class="form-text form-text--right form-text--danger">Un nombre negatif de volontaires n'est point possible.
      </div>
    </div>

    <div class="form-group">
      <label for="nb_volunteers_standby_needed" class="form-label">Nombre de remplacants requis:</label>
      <input class="input" formControlName="nb_volunteers_standby_needed" id="nb_volunteers_standby_needed" type="number" autofocus>
      <div *ngIf="eventForm.controls['nb_volunteers_standby_needed'].hasError('min')"
           class="form-text form-text--right form-text--danger">Un nombre negatif de remplacants n'est point possible.
      </div>
    </div>

    <div class="form-group" *ngIf="cycles">
      <label for="cycle_id" class="form-label">Cycle:</label>
      <select formControlName="cycle_id" id="cycle_id" class="input">
        <option value="" disabled>Selectionner un cycle</option>
        <option *ngFor="let cycle of cycles" [ngValue]="cycle.id">{{ cycle.name }}</option>
      </select>
    </div>

    <div class="form-group" *ngIf="tasktypes">
      <label for="task_type_id" class="form-label">Type d'activité:</label>
      <select formControlName="task_type_id" id="task_type_id" class="input">
        <option value="" disabled>Choose a state</option>
        <option *ngFor="let taskType of tasktypes" [value]="taskType.id">{{ taskType.name }}</option>
      </select>
    </div>

    <div class="form-group">

      <label for="start_date" class="form-label">Date de début de l'event</label>
      <input [owlDateTimeTrigger]="dt12" [owlDateTime]="dt12"
             formControlName="start_date"  class="input"
             id="start_date">
      <owl-date-time #dt12 [firstDayOfWeek]="1"></owl-date-time>

      <div class="form-text form-text--right form-text--danger"
           *ngIf="eventForm.controls['start_date'].hasError('dateStartMissing')">Date de début nécessaire.
      </div>
    </div>

    <div class="form-group">

      <label for="end_date" class="form-label">Date de fin de l'event</label>
      <input [owlDateTimeTrigger]="dt13" [owlDateTime]="dt13"
             formControlName="end_date" class="input"
             id="end_date">
      <owl-date-time #dt13 [firstDayOfWeek]="1"></owl-date-time>

      <div class="form-text form-text--right form-text--danger"
           *ngIf="eventForm.controls['end_date'].hasError('dateEndMissing')">Date de fin nécessaire.
      </div>
      <div class="form-text form-text--right form-text--danger"
           *ngIf="eventForm.controls['end_date'].hasError('dateEndBeforeDateStart')">La date de fin doit être dans le
        futur
      </div>
      <div class="form-text form-text--right form-text--danger"
           *ngFor="let errorMessage of eventForm.controls['end_date'].getError('apiError')">
        {{ errorMessage }}
      </div>
    </div>

  </form>
</app-my-modal>
