/*****
Please use this file for all your constant

example :
$color-theme-green: #00d59c;
*****/

/* Use for the main nav */
$main-color: #F19F3C;
$secondary-color: #f8f5bd;
$main-color-dark: #D67603;

$main-background: #F8FBF4;
$main-background-dark: #DFDFDF;

$main-border: lightgrey;

$background-color-warning: #fdffd5;
$color-warning: #cd8535;
$color-danger: #C82333;
$color-success: #42A948;

$main-hover: lighten($main-color, 30);

$color-neutral-border: #D6D8DB;
$color-neutral-background: #E2E3E5;
$color-neutral-text: #393E42;

$color-info-border: #B8DAFF;
$color-info-background: #CCE5FF;
$color-info-text: #034386;

$color-danger-border: #f5c6cb;
$color-danger-background: #F8D7DA;
$color-danger-background-hover: darken($color-danger-background, 50%);
$color-danger-text: #975057;
$color-danger-text-hover: white;

$color-warning-border: #FFEEBA;
$color-warning-background: #FFF3CD;
$color-warning-background-hover: darken($color-warning-background, 50%);
$color-warning-text: #88680a;
$color-warning-text-hover: white;
