/*****
Please use this file for all your constant

example :
$color-theme-green: #00d59c;
*****/

/* Use for the main nav */
$main-color: #F19F3C;
$main-color-dark: #D67603;

$main-background: #F8FBF4;
$main-background-dark: #F1F1F1;

$main-border: lightgrey;

$background-color-warning: #fdffd5;
$color-warning: #cd8535;
$color-danger: #C82333;
$color-success: #42A948;

$main-hover: lighten($main-color, 30)
