/*
Here are some variable that need to be changes for each instances
 */
$instance-color: #639F43;
$instance-light-color: lighten(#639F43, 40);

/*
Below are constant of Volontaria
 */

$main-font: 'Pacifico', cursive;
$main-color: #1D2344;
$light-color: #1D234466;
$warning: #C82333;
$background: #EFEFEF;
