@import "../../../assets/scss/_theme.scss";

.my-table {

  &__actions {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 15px;
  }

  &__table {
    font-size: 14px;
    width: 100%;

    border: 1px solid $main-color;
    border-collapse: collapse;

    &--full-width {
      width: 100%;
    }

    &__header {

      &__column {
        text-align: left;
        font-weight: bold;
        padding: 10px;
        background-color: $main-color;
        color: white;

        &--actions {
          text-align: right;
        }
      }
    }

    &__no-data {
      text-align: center;

      &__cell {
        padding: 10px;
      }
    }

    &__line {
      background-color: $main-background;

      &:nth-child(odd) {
        background-color: white;
      }

      &__cell {
        padding: 10px;

        &--actions {
          text-align: right;

          &__edit {
            margin: 0 5px;

            &:hover {
              color: $color-warning-text;
              cursor: pointer;
            }
          }

          &__remove {
            margin: 0 5px;

            &:hover {
              color: $color-danger-text;
              cursor: pointer;
            }
          }
        }
      }

      &--clickable {
        &:hover {
          cursor: pointer;
          background-color: $main-hover;
        }
      }
    }
  }
}
