<div class="ck-editor-page">
  <div class="ck-editor-page__action-nav" *ngIf="isAdmin()">
    <div>
      En tant qu'administrateur vous avez le droit de modifier cette page en cliquant sur le texte que vous
      souhaitez modifier
    </div>
    <button class="ck-editor-page__action-nav__save button" (click)="saveCKEditor()">
      Sauvegarder
    </button>
  </div>
  <div class="ck-editor-page__content">
    <app-ckeditor-container
      *ngIf="CKEditorKey"
      [pageKey]="CKEditorKey"
      [autoSave]="false"
      (saved)="dataSaved()">
    </app-ckeditor-container>
  </div>
</div>
