.login-layout {
  height: 100vh;
  background-image: linear-gradient(
      rgba(0, 0, 0, 0.3),
      rgba(0, 0, 0, 0.3)
  ),
  url('../../../assets/images/login.jpg');
  background-size: cover;

  display: flex;
  flex-direction: column;

  &__name {
    color: white;
    font-weight: 900;
    font-size: 25px;
    margin: 20px;
  }

  &__card {
    flex: 1;

    display: flex;
    justify-content: center;
    align-items: center;

    &__content {
      box-shadow: 0 0 3px lightgrey;
      text-align: center;
      margin-top: 0;
    }
  }
}

@media only screen and (max-width: 500px) {
  .login-layout__card__content {
    width: 100%;
    height:100%;
    max-width: 100%;
  }

  .login-layout__name {
    display: none;
  }
}
