@import "../../../assets/scss/_theme.scss";

.footer {
  min-height: 30px;
  color: white;
  background-color: $main-color;
  text-align: center;
  font-size: 18px;
  padding: 40px;

  &__link {
    color: white;
    text-decoration: underline;
    font-weight: 700;
  }
}
