// 1
@import '../../../assets/scss/theme';

.admin-layout {
    min-height: 100vh;
  
    display: flex;
    flex-direction: columns;
    justify-content: space-between;
  
    &__left-nav {
      
      &--section{
        flex: 1;
        display: flex;
        align-content: center;
        align-items: center;
        height: 60px;
        width:180px; 
        color: $main-color;
        // font-family: $main-font;
        font-size: 30px;
        line-height: 50px;
        padding: 0 30px;
      }
    }
  }
 

  .footer {
    display: flex;
    justify-content: space-between;
    padding: 30px;
    border-top: 3px solid $main-color;
    background-color: $light-color;
  
    &__section {
      &--brand {
        color: $main-color;
        font-family: $main-font;
        font-size: 30px;
        line-height: 50px;
        padding: 0 30px;
      }
    }
  }
  