@import "../../../assets/scss/_theme.scss";
@import "../../../assets/scss/_easings.scss";

#content {
  display: flex;
  justify-content: space-between;
  height: 100%;
  background-color: #EFEFEF;
}

.left-nav {
  width: 220px;
  min-height: 100%;
  box-sizing: border-box;
  background-color: #314961;
  color: white;
  padding-top: 30px;

  &__logo {
    background-image: url('../../../assets/images/logo.png');
    background-repeat: no-repeat;
    background-size: contain;
    height: 70px;
    background-position: center;
    margin-bottom: 30px;
  }

  &__item {
    display: block;
    box-sizing: border-box;
    padding: 10px;
    width: 100%;
    color: #87969f;
    font-size: 15px;

    &__icon {
      margin: 0 10px;
      width: 25px;
      text-align: center;
      font-size: 20px;
    }

    &:hover {
      background-color: #213242;
      color: white;

      .left-nav__item__icon {
        color: $main-color;
      }
    }
  }
}

.left-nav-responsive {
  display: none;
  padding: 20px;

  &__header {
    text-align: center;
  }

  &__select {
    background-color: $secondary-color;
    color: grey;
    font-weight: 700;
  }
}

#main {
  flex: 1;
}

@media only screen and (max-width: 1100px) {
  #content {
    flex-direction: column;
  }

  .left-nav {
    display: none;
  }

  .left-nav-responsive {
    display: block;
  }
}
