<!-- <p>admin-layout works!</p> -->

<!-- <router-outlet></router-outlet> -->

<!-- <div class="admin-layout">
    <div class="admin-layout__left-nav">
      <app-left-nav></app-left-nav>
    </div>
    <div class="admin-layout__content">
      <router-outlet></router-outlet>
    </div>
</div> -->

<mat-sidenav-container class="admin-layout">
  <mat-sidenav mode="side" opened>
    <div class="admin-layout__left-nav">
      <h3 mat-subheader>POSITION</h3>
        <div class="admin-layout__left-nav admin-layout__left-nav--section">
          Application
        </div>
        <div class="admin-layout__left-nav admin-layout__left-nav--section">
          Positions
        </div>
        <h3 mat-subheader>VOLUNTEER</h3>
        <div class="admin-layout__left-nav admin-layout__left-nav--section">
          Cells
        </div>
        <div class="admin-layout__left-nav admin-layout__left-nav--section">
          <a routerLink="admin-dashboard/events">Events</a>
        </div>
        <div class="admin-layout__left-nav admin-layout__left-nav--section">
          Participations
        </div>
        <div class="admin-layout__left-nav admin-layout__left-nav--section">
          Tasktypes
        </div>
      <h3 mat-subheader>USER</h3>
        <div class="admin-layout__left-nav admin-layout__left-nav--section">
          API Tokens
        </div>
        <div class="admin-layout__left-nav admin-layout__left-nav--section">
          Users
        </div>     
    </div>
  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>

  