@import "../../../../assets/scss/_theme.scss";

.reset-password-page {
  max-width: 600px;

  &__logo{
    height: 70px;
    margin: auto;
  }

  &__title {
    margin-top: 0;
  }

  &__form {
    text-align: left;

    width: 80%;
    max-width: 300px;
    margin: auto;

    &__actions {
      display: flex;
      justify-content: space-between;
    }
  }
}
