@import "../../../../assets/scss/_theme.scss";

.reset-password-page {
  max-width: 600px;
  padding: 10px;

  &__logo{
    height: 70px;
    margin: auto;
  }

  &__form {
    text-align: left;
    margin-top: 30px;

    &__actions {
      display: flex;
      justify-content: space-between;
    }
  }
}
