<nav id="header"
     class="top-nav"
     [class.responsive]="responsive">

  <a routerLink=""
     routerLinkActive="active"
     class="top-nav__item top-nav__item--brand">
    NousRire
  </a>
  <a *ngIf="isAuthenticated()"
     (click)="toogleResponsiveNavbar()"
     routerLink="/activities"
     routerLinkActive="active"
     class="top-nav__item">
    Inscription
  </a>
  <a *ngIf="isAuthenticated()"
     (click)="toogleResponsiveNavbar()"
     routerLink="/schedule"
     routerLinkActive="active"
     class="top-nav__item">
    Mon horaire
  </a>
  <a *ngIf="isAuthenticated()"
     (click)="toogleResponsiveNavbar()"
     routerLink="/info"
     routerLinkActive="active"
     class="top-nav__item">
    Information
  </a>
  <a *ngIf="isAuthenticated()"
     (click)="toogleResponsiveNavbar()"
     routerLink="/contact"
     routerLinkActive="active"
     class="top-nav__item">
    Contact
  </a>
  <a *ngIf="isAuthenticated()"
     (click)="toogleResponsiveNavbar()"
     routerLink="/logout"
     class="top-nav__item">
    Déconnexion
  </a>
  <a *ngIf="!isAuthenticated()"
     (click)="toogleResponsiveNavbar()"
     routerLink="/login"
     class="top-nav__item">
    Connexion
  </a>
  <span class="top-nav__item top-nav__item--icon"
        (click)="toogleResponsiveNavbar()">
    &#9776;
  </span>
</nav>
