@import "../../../assets/scss/_theme.scss";
@import "../../../assets/scss/_easings.scss";

.top-nav {
  overflow: hidden;
  background-color: $main-color;

  &__item {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    transition: all $ease-inout-sine 200ms;

    &:hover{
      background-color: $main-color-dark;
    }

    &--icon{
      display: none;
      font-size:15px;
    }

    &--brand{
      background-color: $main-color-dark;
    }
  }
}

@media only screen and (max-width: 500px) {
  .top-nav .top-nav__item:not(:first-child) {
    display: none;
  }
  .top-nav .top-nav__item.top-nav__item--icon {
    float: right;
    display: block;
  }

  .top-nav.responsive {
    position: relative;
  }
  .top-nav.responsive .top-nav__item--icon{
    position: absolute;
    right: 0;
    top: 0;
  }
  .top-nav.responsive .top-nav__item {
    float: none;
    display: block;
    text-align: left;
  }

}
