@import '../../../assets/scss/theme';

.header {
  border-bottom: 3px solid $instance-color;
  display: flex;
  justify-content: space-between;

  &__section {
    display: flex;
    align-items: center;

    &__item {
      font-size: 20px;
      line-height: 34px;
      margin: 15px 50px 15px 0;

      &:hover {
        cursor: pointer;
      }

      &:last-child {
        margin-right: 0;
      }

      &--logo {
        max-height: 60px;
        margin: 5px 50px 5px 15px;

        &:hover {
          cursor: default;
        }
      }
    }

    &:last-child {
      margin-right: 30px;
    }
  }
}
