<div class="header">
  <div class="header__section">
    <img
      class="header__section__item header__section__item--logo"
      [routerLink]="'/'"
      src="../../../assets/images/logo.png"
      alt="website logo"
    />
    <div class="header__section__item" [routerLink]="'/cells'">
      Inscription
    </div>
    <div class="header__section__item" [routerLink]="'/schedule'">
      Mon horaire
    </div>
    <div class="header__section__item" [routerLink]="'/page/information'">
      Information
    </div>
    <div class="header__section__item" [routerLink]="'/page/contact'">
      Contact
    </div>
  </div>
  <div class="header__section">
    <div class="header__section__item" [routerLink]="'/profile'">
      <i class="fas fa-user-circle"></i>
      Profil
    </div>
    <div class="header__section__item" [routerLink]="'/mobile'">
      <i class="fas fa-mobile-alt"></i>
    </div>
    <div class="header__section__item" [routerLink]="'/logout'">
      <i class="fas fa-sign-out-alt"></i>
    </div>
  </div>
</div>
