<nav class="navbar" [class.responsive]="responsive">
  <a class="title title--main navbar__item navbar__item--brand" routerLink="/" (click)="closeResponsiveNavbar()">
    NousRire
  </a>
  <div class="navbar__left" (click)="closeResponsiveNavbar()">
    <a class="navbar__item" routerLink="/index" *ngIf="isAuthenticated()">Inscription</a>
    <a class="navbar__item" routerLink="/schedule" *ngIf="isAuthenticated()">Mon horaire</a>
    <a class="navbar__item" routerLink="/info">Information</a>
    <a class="navbar__item" routerLink="/contact">Contact</a>
    <a class="navbar__item" routerLink="/admin" [appHasPermissions]="['access_admin_panel']" *ngIf="isAuthenticated()">Administration</a>
  </div>
  <div class="navbar__right" (click)="closeResponsiveNavbar()">
    <a class="navbar__item" *ngIf="isAuthenticated()" routerLink="/logout">Déconnexion</a>
    <a class="navbar__item" *ngIf="!isAuthenticated()" routerLink="/login">Connexion</a>
  </div>
  <span class="navbar__item navbar__item--icon" (click)="toogleResponsiveNavbar()">
    &#9776;
  </span>
</nav>
