<div class="mobile-page">
  <div class="mobile-page__header">
    <div class="mobile-page__header__logo">
      Volontaria
    </div>
    <h1>Volontaria est bientôt disponible sur mobile !</h1>
  </div>

  <div class="mobile-page__apps">
    <div class="mobile-page__apps__description">
      Retrouvez très bientôt Volontaria sur votre mobile afin de vous inscrire facilement
      à des activités ou vérifier les activités auxquelles vous êtes inscrit.
    </div>
    <div class="mobile-page__apps__description">
      Volontaria sera disponible sur Android et iOS d'ici septembre 2020.
    </div>

    <div class="mobile-page__apps__list">
      <a class="mobile-page__apps__list__app">
        <img
          class="mobile-page__apps__list__app__image"
          src="../../../assets/images/app-store-badge.png"
          alt="app store badge"
        />
      </a>
      <a class="mobile-page__apps__list__app">
        <img
          class="mobile-page__apps__list__app__image"
          src="../../../assets/images/google-play-badge.png"
          alt="google play store badge"
        />
      </a>
    </div>
  </div>
</div>
