.activity-confirmation-page {
  padding: 30px;
  text-align: center;

  &__missions {
    margin: 30px 0;
  }
  &__validate {
    text-align: center;
    margin: 30px 0;
  }
}

@media only screen and (max-width: 500px) {
  .activity-confirmation-page {

    &__validate {
      margin: 0;

      &__button {
        width: 100%;
        margin-bottom: 1rem;
      }
    }
  }
}

