<div class="activity-confirmation-page">
  <h1 class="title title--main">S'il te plaît révise les informations suivantes :</h1>
  <div class="activity-confirmation-page__missions">
    <p>
      <b>Debut : </b>
      <span *ngIf="event">{{ event.start_date | date:'dd MMMM yyyy - HH:mm'}}</span>
    </p>
    <p>
      <b>Fin : </b>
      <span *ngIf="event">{{ event.end_date | date:'dd MMMM yyyy - HH:mm'}}</span>
    </p>
    <p>
      <b>Activité : </b>
      <span *ngIf="event">{{ event.task_type.name }}</span>
    </p>
    <p>
      <b>Lieu : </b>
      <span *ngIf="event">{{ event.cell.name }}</span>
    </p>
  </div>
  <div class="activity-confirmation-page__validate" *ngIf="event.volunteers.indexOf(user.id) < 0">
    <p *ngIf="event.nb_volunteers < event.nb_volunteers_needed || event.nb_volunteers_standby < event.nb_volunteers_standby_needed">Veux-tu t'inscrire à cette plage horaire ?</p>
    <p>
      <input id="info-page" type="checkbox" [(ngModel)]="infoPageCheck"/>
      <label for="info-page">J'ai bien lu la <a routerLink="/info" target="_blank">page d'informations.</a></label>
    </p>
    <button [disabled]="!infoPageCheck" *ngIf="event.nb_volunteers < event.nb_volunteers_needed" class="activity-confirmation-page__validate__button button" (click)="submit(false)">M'inscrire comme bénévole</button>
    <button [disabled]="!infoPageCheck" *ngIf="event.nb_volunteers >= event.nb_volunteers_needed && event.nb_volunteers_standby < event.nb_volunteers_standby_needed" class="activity-confirmation-page__validate__button button" (click)="submit(true)">M'inscrire comme remplaçant</button>

    <p *ngIf="event.nb_volunteers >= event.nb_volunteers_needed && event.nb_volunteers_standby >= event.nb_volunteers_standby_needed">Cette plage horaire est déjà pleine.</p>
  </div>
</div>
