<div class="admin-activity-detail__content">
  <h2>#Activité de bénévolat</h2>
  <table class="table" style="width: 100%">
    <tr>
      <th>#Date</th>
      <th>#Début</th>
      <th>#Fin</th>
      <th>#Activité</th>
      <th>#Lieu</th>
      <th>#Bénévoles</th>
    </tr>
    <tr>
      <td>vendredi 1 décembre</td>
      <td>8h45</td>
      <td>14h00</td>
      <td>Emballage: peser les aliments des participants en étant attitré à une station. </td>
      <td>Montréal</td>
      <td>Bénévoles : 8 / 15<br>Remplaçants : 0 / 0</td>
    </tr>
  </table>
  <h2>#Bénévoles</h2>
  <table class="table" style="width: 100%">
    <tr>
      <th>#Nom</th>
      <th>#Prénom</th>
      <th>#Courriel</th>
    </tr>
    <tr>
      <td>Doe</td>
      <td>John</td>
      <td>john.doe@gmail.com</td>
    </tr>
    <tr>
      <td>Doe</td>
      <td>John</td>
      <td>john.doe@gmail.com</td>
    </tr>
    <tr>
      <td>Doe</td>
      <td>John</td>
      <td>john.doe@gmail.com</td>
    </tr>
  </table>
  <h2>#Remplaçants</h2>
  <table class="table" style="width: 100%">
    <tr>
      <th>#Nom</th>
      <th>#Prenom</th>
      <th>#Courriel</th>
    </tr>
    <tr>
      <td>Doe</td>
      <td>John</td>
      <td>john.doe@gmail.com</td>
    </tr>
  </table>
</div>
