<div class="admin-cycles">
  <h2>Liste des cycles de commandes</h2>

  <my-modal name="create cycle"
            title="Création d'un cycle"
            button2Label="Créer"
            (button1)="cycleForm.reset()"
            (button2)="createCycle(cycleForm)"
            typeModal="form"
            button2Style="button--danger">

    <form [formGroup]="cycleForm">
      <label for="name">Name: </label>
      <input class="form-control" formControlName="name" id="name" required>

      <label for="start_date">Date de début</label>
      <input type="datetime-local" formControlName="start_date" id="start_date">
        <p *ngIf="cycleForm.hasError('dateStartMissing')">Date de début nécessaire.</p>

      <label for="end_date">Date de fin</label>
      <input type="datetime-local" formControlName="end_date" id="end_date">
      <p *ngIf="cycleForm.hasError('dateEndMissing')">Date de fin necessaire.</p>
    </form>
    <p>Form value: {{ cycleForm.value | json }}</p>
    <p>Form status: {{ cycleForm.status | json }}</p>
  </my-modal>
  <button *ngIf="isAdmin()" myModalOpen="create cycle"
          class="button button--danger">
    Créer un cycle
  </button>

  <table class="table" style="width: 100%">
    <tr>
      <th>Nom</th>
      <th>Date de début</th>
      <th>Date de fin</th>
    </tr>
    <tr *ngFor="let cycle of cycles">
      <td>{{ cycle.name }}</td>
      <td>{{ cycle.start_date | date:'dd MMMM yyyy' }}</td>
      <td>{{ cycle.end_date | date:'dd MMMM yyyy' }}</td>
    </tr>
  </table>
</div>
