.manage-account-page {
  padding: 1rem;

  &__title {
    text-align: center;
  }

  &__form {
    background-color: #dfdfdf;
    padding: 2rem;

    width: 450px;
    margin: auto;

    text-align: left;

    &__info {
      text-align: center;
      padding-bottom: 40px;
    }
  }
}
