<div class="manage-account-page__content">
  <div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
      <h2>#Créer un compte</h2>
      <div class="manage-account-page__form">
        <p>#Nom d'utilisateur</p>
        <input id="form_username" maxlength="40" name="username" type="text">
        <br>
        <p>#Mot de Passe</p>
        <input id="form_password" maxlength="40" minlength="8" name="password" type="password">
        <br>
        <p>#Confirmation du mot de Passe</p>
        <input id="form_password_conf" maxlength="40" minlength="8" name="password_conf" type="password">
        <br>
        <p>#Prénom</p>
        <input id="form_first_name" maxlength="40" name="fisrt_name" type="text">
        <br>
        <p>#Nom</p>
        <input id="form_last_name" maxlength="40" name="last_name" type="text">
        <br>
        <p>#Courriel</p>
        <input id="form_email" maxlength="40" name="email" type="email">
        <br>
        <p>#Téléphone maison</p>
        <input id="form_phone_home" maxlength="40" name="phone_home" type="tel">
        <br>
        <p>#Téléphone cellulaire</p>
        <input id="form_phone_mobile" maxlength="40" name="phone_mobile" type="tel">
        <br>
        <p>#Note</p>
        <textarea id="form_note" maxlength="600" name="note"></textarea>
        <br>
        <button class="button" style="width: 20%">Valider</button>
      </div>
    </div>
    <div class="col-md-3"></div>
  </div>
</div>
