.pre-footer {
    height: 200px;
    background-color: $main-color-dark;
    color: white;
    padding-top: 60px;
    padding-bottom: 60px;
    padding-left: 25px;

    &__title {
        width: 100%;
        font-weight: bold;
        font-size: 24px;
    }

    &__columns {
        display: flex;
        justify-content: flex-start;
        width: 100%;

        &__column {
            padding-right: 100px;
            padding-top: 25px;
        }
    }
}