<div class="profile-password">
  <form class="profile-password__form"
        [formGroup]="passwordForm"
        (ngSubmit)="changePassword()">
    <mat-form-field appearance="fill" class="profile-password__form__input">
      <input matInput
             placeholder="Ancien mot de passe"
             type="password"
             [formControlName]="'old_password'"/>
      <mat-error></mat-error>
    </mat-form-field>
    <mat-form-field appearance="fill" class="profile-password__form__input">
      <input matInput
             placeholder="Nouveau mot de passe"
             type="password"
             [formControlName]="'new_password1'"/>
      <mat-error></mat-error>
    </mat-form-field>
    <mat-form-field appearance="fill" class="profile-password__form__input">
      <input matInput
             placeholder="Confirmation du nouveau mot de passe"
             type="password"
             [formControlName]="'new_password2'"/>
      <mat-error></mat-error>
    </mat-form-field>
    <mat-error *ngFor="let formError of passwordForm.errors | keyvalue">
      {{ formError.value }}
    </mat-error>
  </form>
  <app-button label="Réinitialisation du mot de passe" (click)="changePassword()"></app-button>
</div>
