@import '../../../../assets/scss/theme';

.event-detail-list-item{
  transition: 0.4s;
  padding: 25px;
  min-width: 180px;
  max-width: 180px;
  box-shadow: 3px 3px 10px #A2A1A1;

  &:hover {
    box-shadow: 3px 3px 25px #A2A1A1;
    padding: 25px 30px;
    cursor: pointer;

    .event-detail-list-item__footer__button {
      opacity: 1;
    }
  }

  &--inactive {
    background-color: $background;

    &:hover {
      box-shadow: 3px 3px 10px #A2A1A1;
      padding: 25px;
    }
  }

  &__title {
    font-size: 20px;
    line-height: 27px;
    text-align: center;
  }

  &__time {
    font-size: 16px;
    margin-top: 35px;
    text-align: center;
  }

  &__footer {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: 60px;

    &__button {
      opacity: 0;
      transition: 0.4s;
    }

    &__note {
      margin: 8px 0;
    }

    &__duration {
      font-size: 30px;
    }
  }
}

.event-detail-list-item-modal-participation {
  display: flex;
  flex-direction: column;

  &__header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
    font-size: 20px;
    background-color: $background;
    margin-bottom: 40px;
  }

  &__content {
    flex: 1;
    display: flex;

    &__informations {
      text-align: center;
      padding-right: 40px;
      border-right: 1px solid $instance-color;

      &__item {
        margin-bottom: 20px;

        &:last-child {
          margin-bottom: 0;
        }

        &__important {
          font-weight: 700;
        }
      }
    }

    &__details {
      flex: 1;
      padding-left: 40px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;

      &__title {
        display: inline-block;
        border-bottom: 1px solid $instance-color;
        margin-bottom: 20px;
      }
    }
  }

  &__footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 40px;


    &__actions {
      display: flex;
      flex-direction: column;
      align-items: center;

      &__button {
        display: block;
        margin-top: 20px;
        padding-top: 20px;
        border-top: 1px solid $instance-color;

        &:first-child {
          margin-top: 0;
          border-top: none;
        }
      }
    }
  }
}
