/*****
Import all basic file
*****/
@import url(../external/normalize/normalize.css);
@import url(../external/font-awesome-4.7.0/css/font-awesome.css);
/*****
Please define all yours fonts in this file
*****/
@font-face {
  font-family: 'Roboto';
  src: url("../fonts/Roboto-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal; }

@font-face {
  font-family: 'Roboto';
  src: url("../fonts/Roboto-ThinItalic.ttf") format("truetype");
  font-weight: 100;
  font-style: italic; }

@font-face {
  font-family: 'Roboto';
  src: url("../fonts/Roboto-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: 'Roboto';
  src: url("../fonts/Roboto-LightItalic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic; }

@font-face {
  font-family: 'Roboto';
  src: url("../fonts/Roboto-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: 'Roboto';
  src: url("../fonts/Roboto-Italic.ttf") format("truetype");
  font-weight: 400;
  font-style: italic; }

@font-face {
  font-family: 'Roboto';
  src: url("../fonts/Roboto-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: 'Roboto';
  src: url("../fonts/Roboto-MediumItalic.ttf") format("truetype");
  font-weight: 500;
  font-style: italic; }

@font-face {
  font-family: 'Roboto';
  src: url("../fonts/Roboto-Bold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal; }

@font-face {
  font-family: 'Roboto';
  src: url("../fonts/Roboto-BoldItalic.ttf") format("truetype");
  font-weight: 600;
  font-style: italic; }

/*****
Please define all your CSS transition in this file
*****/
/*****
Please use this file for all your constant

example :
$color-theme-green: #00d59c;
*****/
/* Use for the main nav */
/*****
Please use this file to style all basic item like link (a),
paragraph (p) or list (ul, ol)
*****/
html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background-color: #F8FBF4; }

#container {
  width: 100%;
  min-height: 100%;
  position: relative; }

#content {
  width: 100%;
  padding-bottom: 420px; }

#footer {
  width: 100%;
  height: 420px;
  position: absolute;
  bottom: 0;
  left: 0; }

h2, h3, h4 {
  font-weight: 400;
  margin: 10px 0; }

h2 {
  font-size: 30px; }

h3 {
  font-size: 24px; }

h4 {
  font-size: 20px; }

hr {
  border: 1px solid lightgrey; }

/*****
Please use this file to define some base layout like anonymous vs connected
*****/
/*****
Import components

example:
@import "components/_buttons.scss";
*****/
.button {
  display: inline-block;
  padding: 10px;
  background-color: #70A236;
  color: white;
  text-decoration: none;
  text-align: center;
  font-size: 14px;
  font-style: italic;
  transition: all cubic-bezier(0.445, 0.05, 0.55, 0.95) 200ms; }
  .button:hover {
    box-shadow: 0 3px 6px #70A236;
    color: #70A236;
    background-color: white; }
  .button--warning {
    background-color: orange; }
    .button--warning:hover {
      color: orange;
      box-shadow: 0 3px 6px orange; }
  .button--danger {
    background-color: #C82333; }
    .button--danger:hover {
      color: #C82333;
      box-shadow: 0 3px 6px #C82333; }

.card {
  margin-top: 10px;
  padding: 10px;
  background-color: white;
  border: 1px solid lightgrey; }

.table {
  font-size: 14px;
  border: 1px solid lightgrey;
  border-collapse: collapse; }
  .table tr {
    background-color: #F1F1F1; }
    .table tr:nth-child(odd) {
      background-color: white; }
    .table tr td {
      padding: 10px; }
    .table tr th {
      text-align: left;
      font-weight: bold;
      padding: 10px; }

.nav {
  display: inline-block;
  border: 1px solid lightgrey;
  background-color: #F1F1F1; }
  .nav__title {
    padding: 10px;
    font-weight: bold; }
  .nav__item {
    display: block;
    color: inherit;
    text-decoration: none;
    border-top: 1px solid lightgrey;
    background: white;
    padding: 10px;
    transition: all cubic-bezier(0.445, 0.05, 0.55, 0.95) 200ms; }
    .nav__item:hover {
      box-shadow: 0 3px 6px lightgrey;
      background-color: #F1F1F1; }
    .nav__item::before {
      content: "\F105";
      /* this is your text. You can also use UTF-8 character codes as I do here */
      font-family: FontAwesome; }

.top-nav {
  height: 50px;
  width: 100%;
  padding: 0;
  margin: 0;
  background-color: #70A236;
  display: flex;
  justify-content: space-between; }
  .top-nav__left {
    display: flex;
    justify-content: flex-start; }
  .top-nav__item {
    display: block;
    height: 20px;
    padding: 15px;
    color: white;
    transition: all cubic-bezier(0.445, 0.05, 0.55, 0.95) 200ms; }
    .top-nav__item:hover {
      background-color: white;
      color: black; }
    .top-nav__item--brand {
      background-color: #547A29; }
      .top-nav__item--brand:hover {
        background-color: #547A29;
        color: white; }

.pre-footer {
  height: 200px;
  background-color: #547A29;
  color: white;
  padding-top: 60px;
  padding-bottom: 60px;
  padding-left: 25px; }
  .pre-footer__title {
    width: 100%;
    font-weight: bold;
    font-size: 24px; }
  .pre-footer__columns {
    display: flex;
    justify-content: flex-start;
    width: 100%; }
    .pre-footer__columns__column {
      padding-right: 100px;
      padding-top: 25px; }

.footer {
  height: 20px;
  color: white;
  background-color: #70A236;
  text-align: center;
  font-size: 18px;
  padding: 40px; }

/*****
Import pages

example:
@import "pages/_home.scss";
*****/
.page-homepage__title {
  font-size: 30px;
  text-align: center;
  margin: 30px; }
