<div class="admin-volunteer-page" *ngIf="user">
  <div class="admin-volunteer-page__header">
    <h1 class="title title--main">
      {{ user.first_name }} {{ user.last_name }}
      <span *ngIf="user.is_superuser">
        <i class="fas fa-shield-alt"></i>
        (Admin)
      </span>
    </h1>
    <ul class="admin-volunteer-page__header__infos">
      <li>
        <i class="fas fa-user admin-volunteer-page__header__infos__icon"></i>
        {{ user.username }}
      </li>
      <li>
        <i class="fas fa-envelope admin-volunteer-page__header__infos__icon"></i>
        {{ user.email }}
      </li>
      <li *ngIf="user.phone">
        <i class="fas fa-phone admin-volunteer-page__header__infos__icon"></i>
        {{ user.phone }}
      </li>
      <li *ngIf="user.mobile">
        <i class="fas fa-mobile-alt admin-volunteer-page__header__infos__icon"></i>
        {{ user.mobile }}
      </li><br/>
      <li >
        <div>Dernière participation:</div>
          <div *ngIf="user.last_participation">
            {{ user.last_participation | date:"dd MMMM yyyy" }}
          </div>
          <div *ngIf="!user.last_participation">
            Aucune
          </div>
      </li><br/>
    </ul>
  </div>
  <div class="admin-volunteer-page__section">
    <h2 class="title title--main">
      Participations comme bénévole
    </h2>
    <app-my-table [settings]="settings"
                  [data]="eventsAsVolunteer"
                  (selectItem)="eventClicked($event)">
    </app-my-table>
  </div>
  <div class="admin-volunteer-page__section">
    <h2 class="title title--main">
      Participations comme remplaçant
    </h2>
    <app-my-table [settings]="settings"
                  [data]="eventsAsOnHold"
                  (selectItem)="eventClicked($event)">
    </app-my-table>
  </div>
</div>
