@import '../../../../assets/scss/theme';

.admin-volunteer-page {
  &__header {
    padding: 20px;
    min-height: 200px;
    background-color: $secondary-color;
    border-bottom: 1px solid lightgrey;

    &__infos {
      list-style-type: none;
      margin: 0;
      padding: 0;

      &__icon {
        font-size: 1em;
        width: 25px;
        text-align: center;
      }
    }
  }

  &__section {
    padding: 20px;
  }
}
