.alert {
  width: 100%;
  padding: 10px 15px;
  border: 1px solid $color-neutral-border;
  color: $color-neutral-text;
  background-color: $color-neutral-background;
  border-radius: 2px;
  font-size: 12px;

  & ul {
    padding-left: 0;
    list-style-type: none;

    & li {
      padding-left: 1.3em;

      &:before {
        content: "\f071"; /* FontAwesome Unicode */
        font-family: FontAwesome;
        display: inline-block;
        margin-left: -1.3em; /* same as padding-left set on li */
        width: 1.3em; /* same as padding-left set on li */
      }
    }
  }

  &--info {
    background-color: $color-info-background;
    border-color: $color-info-border;
    color: $color-info-text;
  }

  &--danger{
    background-color: $color-danger-background;
    border-color: $color-danger-border;
    color: $color-danger-text;
  }

  &--center {
    text-align: center;
  }

  &__title {
    font-size: 16px;
    font-weight: bold;
  }
}
