.button {
    display: inline-block;
    box-sizing: border-box;
    padding: 10px;

    background-color: $main-color;
    color: white;

    text-decoration: none;
    text-align: center;
    font-size: 14px;

    transition: all $ease-inout-sine 200ms;
    border: none;

    &:hover {
        background-color: lighten($main-color, 10);
        cursor: pointer;
    }

    &--warning {
        background-color: $color-warning;

        &:hover {
          background-color: lighten($color-warning, 10);
        }
    }

    &--danger {
        background-color: $color-danger;

        &:hover {
          background-color: lighten($color-danger, 10);
        }
    }

  &--success {
    background-color: $color-success;

    &:hover {
      background-color: lighten($color-success, 10);
    }
  }

  &:disabled {
    background-color: lightgrey;
    color: white;

    &:hover {
      box-shadow: none;
      background-color: lightgrey;
      color: white;
      cursor: not-allowed;
    }
  }
}
