.button {
    display: inline-block;
    box-sizing: border-box;
    padding: 10px;

    background-color: $main-color;
    color: white;

    text-decoration: none;
    text-align: center;
    font-size: 14px;

    transition: all $ease-inout-sine 200ms;
    border: none;

    &:hover {
        box-shadow: 0 3px 6px $main-color;
        color: $main-color;
        background-color: white;
        cursor: pointer;
    }

    &--warning {
        background-color: $color-warning;

        &:hover {
            color: $color-warning;
            box-shadow: 0 3px 6px $color-warning;
        }
    }

    &--danger {
        background-color: $color-danger;

        &:hover {
            color: $color-danger;
            box-shadow: 0 3px 6px $color-danger;
        }
    }

  &--success {
    background-color: $color-success;

    &:hover {
      color: $color-success;
      box-shadow: 0 3px 6px $color-success;
    }
  }
}
