.activity-confirmation-page {
  &__content {
    padding: 1rem;
  }
  &__missions {
    border: 1px solid gray;
    background-color: #F1F1F1;
    padding: 1rem;
  }
  &__validate {
    text-align: center;
    margin: 3rem;
  }
}
