<div class="activity-confirmation-page">
  <h2>Veuillez réviser les informations suivantes :</h2>
  <br>
  <p>
    <b>Debut : </b>
    <span *ngIf="event">{{ event.start_date | date:'dd MMMM yyyy - HH:mm'}}</span>
  </p>
  <p>
    <b>Fin : </b>
    <span *ngIf="event">{{ event.end_date | date:'dd MMMM yyyy - HH:mm'}}</span>
  </p>
  <p>
    <b>Activité : </b>
    <span *ngIf="event">{{ event.task_type.name }}</span>
  </p>
  <p>
    <b>Lieu : </b>
    <span *ngIf="event">{{ event.cell.name }}</span>
  </p>
  <!---
  <div class="activity-confirmation-page__missions">
    <h3>Les missions des bénévoles sont variés, en voivi un apperçu :</h3>
    <ul>
      <li>#Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
      <li>#Pellentesque vitae metus sagittis, commodo felis eu, placerat dui.</li>
      <li>#Nunc at ipsum quis diam aliquam sagittis.</li>
      <li>#Praesent sed mauris sagittis, tempor est id, finibus augue.</li>
      <li>#Integer sagittis metus vehicula vulputate pellentesque.</li>
    </ul>
  </div>
  --->
  <div class="activity-confirmation-page__validate" *ngIf="event.volunteers.indexOf(user.id) < 0">
    <p *ngIf="event.nb_volunteers < event.nb_volunteers_needed || event.nb_volunteers_standby < event.nb_volunteers_standby_needed">Voulez-vous vous inscrire à cet evenement ?</p>
    <a *ngIf="event.nb_volunteers < event.nb_volunteers_needed" class="activity-confirmation-page__validate__button button" (click)="submit(false)">M'inscrire comme benevole</a>
    <a *ngIf="event.nb_volunteers >= event.nb_volunteers_needed && event.nb_volunteers_standby < event.nb_volunteers_standby_needed" class="activity-confirmation-page__validate__button button" (click)="submit(true)">M'inscrire comme remplacant</a>

    <p *ngIf="event.nb_volunteers >= event.nb_volunteers_needed && event.nb_volunteers_standby >= event.nb_volunteers_standby_needed">Cet evenement est deja plein.</p>
  </div>
</div>
