@import '../../../../assets/scss/theme';

.profile-informations {
  display: flex;

  &__section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    &__form {
      display: flex;
      flex-direction: column;

      &__collateral-fields {
        display: flex;
        justify-content: space-between;

        & > * {
          flex: 1;
          margin-left: 10px;

          &:first-child {
            margin-left: 0;
          }
        }
      }
    }

    &__avatar {
      display: none;
      width: 360px;
      height: 360px;
      border-radius: 50%;
      margin-right: 60px;
      border: 4px solid $instance-color;
    }
  }
}
