@import '../../../../assets/scss/theme';

.forgot-password-confirmation-page {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  text-align: center;

  &__content {
    text-align: center;
    background-color: $main-background-dark;
    padding: 40px;
    font-size: 1.2em;

    &__icon {
      font-size: 70px;
      color: $main-color;
    }
  }
}
