<div class="forgot-password-confirmation-page">
  <div class="forgot-password-confirmation-page__content">
    <div class="forgot-password-confirmation-page__content__icon">
      <i class="fa fa-envelope-open"></i>
    </div>
    <h2 class="title title--main forgot-password-confirmation-page__content__title">
      Un courriel de vérification vient d'être envoyé!
    </h2>
    <div class="forgot-password-confirmation-page__content__sub-title">
      Vérifie tes courriels pour réinitialiser ton mot de passe.
    </div>
  </div>
</div>
