<div id="footer">
  <div class="pre-footer">
    <div class="pre-footer__title">
      <img src="assets/images/logo.png" alt="Logo of NousRire">
    </div>
    <div class="pre-footer__columns">
      <div class="pre-footer__columns__column">
        Amélie Vadeboncoeur<br/>
        Artisane aux bénévoles<br/>
        benevoles@nousrire.com<br/>
        514-817-0728
      </div>
      <div class="pre-footer__columns__column">
        Sébatien Matte<br/>
        Soutien technique<br/>
        sebastien@nousrire.com
      </div>
    </div>
  </div>
  <div class="footer">
    Volontaria
  </div>
</div>
