.login-page {
  padding: 1rem;
  display: flex;

  &__description {
    width: 55%;
    text-align: center;

    & > img {
      width: 80%;
    }
  }

  &__login {
    width: 45%;
  }

  &__title {
    text-align: center;
  }

  &__form {
    background-color: #dfdfdf;
    padding: 2rem;

    width: 300px;
    margin: auto;

    text-align: left;

    &__error {
      color: red;
      text-align: center;
    }
  }
}
