<div class="myschedule__content">
  <div class="row">
    <div class="col-md-6">
      <h2>#Mes coordonnées</h2>
      <table class="table" style="width: 100%;">
        <tr>
          <th>#Prénom</th>
          <td>#John</td>
        </tr>
        <tr>
          <th>#Nom</th>
          <td>#Doe</td>
        </tr>
        <tr>
          <th>#Téléphone (Maison)</th>
          <td>#+1 514 123 4567</td>
        </tr>
        <tr>
          <th>#Téléphone (Cellulaire)</th>
          <td>#+1 514 123 4567</td>
        </tr>
        <tr>
          <th>#Courriel</th>
          <td>#john.doe@exemple.com</td>
        </tr>
      </table>
    </div>
    <div class="col-md-6">
      <h2>#Mon compte</h2>
      <table class="table" style="width: 100%;">
        <tr>
          <th>#Nom d'utilisateur</th>
          <td>#John Doe</td>
        </tr>
        <tr>
          <th>#Mot de passe</th>
          <td><a href="#" class="button">#Réinitialiser mon mot de passe</a></td>
        </tr>
      </table>
    </div>
  </div>
  <div class="row">
    <h2>#Mon horraire - Bénévole</h2>
    <div class="col-md-12">
      <table class="table" style="width: 100%;">
        <tr>
          <th>#Date</th>
          <th>#Heure</th>
          <th>#Catégorie</th>
          <th>#Activité</th>
          <th>#Lieu</th>
          <th>#Responsable</th>
          <th>#Durée</th>
        </tr>
        <tr>
          <td>#Date</td>
          <td>#Heure</td>
          <td>#Catégorie</td>
          <td>#Activité</td>
          <td>#Lieu</td>
          <td>#Responsable</td>
          <td>#Durée</td>
        </tr>
        <tr>
          <td>#Date</td>
          <td>#Heure</td>
          <td>#Catégorie</td>
          <td>#Activité</td>
          <td>#Lieu</td>
          <td>#Responsable</td>
          <td>#Durée</td>
        </tr>
      </table>
    </div>
  </div>
  <div class="row">
    <h2>#Mon horraire - Remplacant</h2>
    <div class="col-md-12">
      <table class="table" style="width: 100%;">
        <tr>
          <th>#Date</th>
          <th>#Heure</th>
          <th>#Catégorie</th>
          <th>#Activité</th>
          <th>#Lieu</th>
          <th>#Responsable</th>
          <th>#Durée</th>
        </tr>
        <tr>
          <td>#Date</td>
          <td>#Heure</td>
          <td>#Catégorie</td>
          <td>#Activité</td>
          <td>#Lieu</td>
          <td>#Responsable</td>
          <td>#Durée</td>
        </tr>
        <tr>
          <td>#Date</td>
          <td>#Heure</td>
          <td>#Catégorie</td>
          <td>#Activité</td>
          <td>#Lieu</td>
          <td>#Responsable</td>
          <td>#Durée</td>
        </tr>
      </table>
    </div>
  </div>
</div>
