<div class="admin-page">
  <div class="admin-page__text">
    <div class="admin-page__text__title">
      OUPS
    </div>
    <p>Il semblerait que cette page ne soit pas encore développée.</p>
    <p>Ne vous en faites pas, notre meilleur développeur est sur le coup!</p>
    <div class="admin-page__text__subtext">
      Pendant ce temps, pourquoi ne pas venir nous aider ?
    </div>
    <div class="admin-page__text__actions">
      <a href="https://volontaria.slack.com/" class="button">
        Notre salon de discussion
      </a>
      <a href="https://github.com/volontaria/" class="button">
        Nos dépots de code
      </a>
    </div>
    <div class="admin-page__text__subtext">
      <p>
        (Pour le reste de l'administration, un menu est disponible à gauche.)
      </p>
    </div>
  </div>
</div>
