<div class="admin-page">
  <div class="admin-page__stats">
    <div class="admin-page__stats__item">
      <div class="admin-page__stats__item__icon">
        <i class="fa fa-users fa-3x"></i>
      </div>
      <div class="admin-page__stats__item__content">
        <div class="admin-page__stats__item__content__number">
          {{ userCount }}
        </div>
        <div class="admin-page__stats__item__content__name">
          Bénévoles
        </div>
      </div>
    </div>

    <div class="admin-page__stats__item admin-page__stats__item--green">
      <div class="admin-page__stats__item__icon">
        <i class="fas fa-user-check fa-3x"></i>
      </div>
      <div class="admin-page__stats__item__content">
        <div class="admin-page__stats__item__content__number">
          {{ participationCount }}
        </div>
        <div class="admin-page__stats__item__content__name">
          Participations
        </div>
      </div>
    </div>

    <div class="admin-page__stats__item admin-page__stats__item--purple">
      <div class="admin-page__stats__item__icon">
        <i class="fa fa-calendar fa-3x"></i>
      </div>
      <div class="admin-page__stats__item__content">
        <div class="admin-page__stats__item__content__number">
          {{ eventCount }}
        </div>
        <div class="admin-page__stats__item__content__name">
          Événements
        </div>
      </div>
    </div>

    <div class="admin-page__stats__item admin-page__stats__item--dark-purple">
      <div class="admin-page__stats__item__icon">
        <i class="fas fa-map-marker-alt fa-3x"></i>
      </div>
      <div class="admin-page__stats__item__content">
        <div class="admin-page__stats__item__content__number">
          {{ cellCount }}
        </div>
        <div class="admin-page__stats__item__content__name">
          Cellules
        </div>
      </div>
    </div>
  </div>

  <div class="admin-page__promotion">
    <div class="admin-page__promotion__left">
      <div class="admin-page__promotion__left__logo">
      </div>
    </div>
    <div class="admin-page__promotion__right">
      <div class="admin-page__promotion__right__title">
        Le savais tu ?
      </div>
      <p>Volontaria est un outil en logiciel libre développé par des bénévoles, c'est à dire que c'est ou outil communautaire ou tous le monde peux participer au développement à sa manière.</p>
      <p>Si vous connaissez des développeurs n'hésitez pas à leurs passer le mot!</p>
      <div class="admin-page__promotion__right__subtext">
        Il existe plein de moyen de nous contacter:
      </div>
      <div class="admin-page__promotion__right__actions">
        <a href="https://volontaria.slack.com/" class="button">
          Notre salon de discussion
        </a>
        <a href="https://github.com/volontaria/" class="button">
          Nos dépots de code
        </a>
      </div>
      <div class="admin-page__promotion__right__subtext">
        <p>
          <a href="https://fr.wikipedia.org/wiki/Licence_publique_g%C3%A9n%C3%A9rale_GNU">Tu veux en savoir plus sur les licences libre ? Alors clique ici!</a>
        </p>
      </div>
    </div>
  </div>
</div>
