@import '../../../../assets/scss/theme';

.admin-page {

  &__stats {
    display: flex;
    flex-wrap: wrap;

    &__item {
      background-color: $pink;
      flex: 1;
      margin: 15px;
      padding: 30px;
      text-align: center;
      border-radius: 3px;
      display: flex;
      align-items: center;
      color: white;

      &--green {
        background-color: $green;

        .admin-page__stats__item__icon {
          background-color: darken($green, 20);
        }
      }

      &--purple {
        background-color: $purple;

        .admin-page__stats__item__icon {
          background-color: darken($purple, 20);
        }
      }

      &--dark-purple {
        background-color: $dark-purple;

        .admin-page__stats__item__icon {
          background-color: darken($dark-purple, 20);
        }
      }

      &__icon {
        margin-right: 20px;
        background-color: darken($pink, 20);
        border-radius: 50%;
        color: white;
        width: 80px;
        height: 80px;
        display: flex;
        align-items: center;
        justify-content: center;
      }

      &__content {
        flex: 1;

        &__number {
          font-weight: 900;
          font-size: 30px;
        }

        &__name {
          font-size: 16px;
          text-transform: uppercase;
          font-weight: 900;
          letter-spacing: 2px;
        }
      }
    }
  }

  &__promotion {
    text-align: center;
    height: 100%;

    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch;

    &__left {
      flex: 1;
      background-color: white;
      border-radius: 3px;
      padding: 30px;
      margin: 15px;
      border-top: 4px solid $dark-purple;

      &__logo {
        background-image: url('../../../../assets/images/logo.png');
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        width: 100%;
        height: 100%;
      }
    }

    &__right {
      flex: 1;
      font-size: 20px;
      color: #525d69;
      background-color: white;
      border-radius: 3px;
      padding: 30px;
      margin: 15px;
      border-top: 4px solid $pink;

      &__title {
        font-size: 50px;
        font-weight: 900;
      }

      &__subtext {
        font-size: 14px;
      }

      &__actions {
        display: flex;
        justify-content: center;
        margin-top: 20px;

        & a {
          margin: 10px;
        }
      }
    }
  }
}

@media only screen and (max-width: 1000px) {
  .admin-page__promotion {
    flex-direction: column;

    &__left {
      min-height: 400px;
    }
  }
}
