.admin-page {
  text-align: center;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;

  &__text {
    max-width: 500px;
    margin-top: 20px;
    font-size: 20px;
    color: #525d69;

    &__title {
      font-size: 60px;
      font-weight: 900;
    }

    &__subtext {
      font-size: 14px;
    }

    &__actions {
      display: flex;
      justify-content: center;
      margin-top: 20px;

      & a {
        margin: 10px;
      }
    }
  }
}
