<div class="register-confirm">
  <div class="register-confirm__logo" [routerLink]="'/login'">
    Volontaria
  </div>
  <div class="register-confirm__content">
    <img class="register-confirm__content__logo" src="../../../assets/images/logo.png" />
    <div class="register-confirm__content__title">
      Nous avons bien reçu ton inscription!
    </div>
    <div class="register-confirm__content__description">
      Tu devrais recevoir un mail te permettant de confirmer ton courriel. Une fois cette
      étape faite, tu pourras te connecter et découvrir les activités auxquelles tu peux
      participer.
    </div>
    <div class="register-confirm__content__footer">
      A très vite!
    </div>
  </div>
  <div class="register-confirm__footer">
    <app-promotion-text></app-promotion-text>
  </div>
</div>
