<div class="manage-account-page">
  <h2 class="manage-account-page__title title title--main">
    Créer un compte
  </h2>
  <form class="manage-account-page__form" (ngSubmit)="createAccount()" [formGroup]="registerForm">
    <p class="manage-account-page__form__info">
      Tu as déjà un compte?
      <a routerLink="/login" class="link">
        Connecte-toi!
      </a>
    </p>
    <div class="manage-account-page__form__input">
      <label for="form_username" class="form-label">
        Nom d'utilisateur: *
      </label>
      <input formControlName="username"
             id="form_username"
             name="username"
             type="text"
             class="input">
      <div class="form-text form-text--right form-text--danger"
           *ngFor="let errorMessage of registerForm.controls['username'].getError('apiError')">
        {{ errorMessage }}
      </div>
    </div>
    <div class="manage-account-page__form__input">
      <label for="form_password" class="form-label">
        Mot de passe: *
      </label>
      <input formControlName="password"
             id="form_password"
             name="password"
             type="password"
             class="input">
      <div class="form-text form-text--right form-text--danger"
           *ngFor="let errorMessage of registerForm.controls['password'].getError('apiError')">
        {{ errorMessage }}
      </div>
    </div>
    <div class="manage-account-page__form__input">
      <label for="form_password_confirmation" class="form-label">
        Confirmation du mot de passe: *
      </label>
      <input formControlName="confirmation"
             id="form_password_confirmation"
             name="password_confirmation"
             class="input"
             type="password">
      <div class="form-text form-text--right form-text--danger"
           *ngFor="let errorMessage of registerForm.controls['confirmation'].getError('apiError')">
        {{ errorMessage }}
      </div>
    </div>
    <div class="manage-account-page__form__input" class="form-label">
      <label for="form_email">
        Courriel: *
      </label>
      <input formControlName="email"
             id="form_email"
             name="email"
             type="email"
             class="input">
      <div class="form-text form-text--right form-text--danger"
           *ngFor="let errorMessage of registerForm.controls['email'].getError('apiError')">
        {{ errorMessage }}
      </div>
    </div>
    <div>
      <label for="form_first_name" class="form-label">
        Prénom: *
      </label>
      <input formControlName="first_name"
             id="form_first_name"
             name="fisrt_name"
             class="input"
             type="text">
      <div class="form-text form-text--right form-text--danger"
           *ngFor="let errorMessage of registerForm.controls['first_name'].getError('apiError')">
        {{ errorMessage }}
      </div>
    </div>
    <div>
      <label for="form_last_name" class="form-label">
        Nom: *
      </label>
      <input formControlName="last_name"
             id="form_last_name"
             name="last_name"
             class="input"
             type="text">
      <div class="form-text form-text--right form-text--danger"
           *ngFor="let errorMessage of registerForm.controls['last_name'].getError('apiError')">
        {{ errorMessage }}
      </div>
    </div>
    <p class="alert alert--warning">
      Pour t'inscrire tu dois nous fournir au moins un numéro de téléphone afin qu'on puisse communiquer avec toi.
    </p>
    <div class="manage-account-page__form__input">
      <label for="form_phone_home" class="form-label">
        Téléphone maison:
      </label>
      <input formControlName="phone"
             id="form_phone_home"
             name="phone_home"
             class="input"
             type="tel">
        <div class="form-text form-text--right form-text--danger"
             *ngFor="let errorMessage of registerForm.controls['phone'].getError('apiError')">
          {{ errorMessage }}
        </div>
    </div>
    <div class="manage-account-page__form__input">
      <label for="form_phone_mobile" class="form-label">
        Téléphone cellulaire:
      </label>
      <input formControlName="mobile"
             id="form_phone_mobile"
             name="phone_mobile"
             type="tel"
             class="input">
        <div class="form-text form-text--right form-text--danger"
             *ngFor="let errorMessage of registerForm.controls['mobile'].getError('apiError')">
          {{ errorMessage }}
        </div>
    </div>
    <button class="button">
      Créer le compte
    </button>
  </form>
</div>
