@import '../../../../assets/scss/theme';

.manage-account-page {
  padding: 30px;

  &__title {
    text-align: center;
  }

  &__form {
    background-color: #dfdfdf;
    width: 100%;
    max-width: 450px;
    margin: auto;
    margin-top: 30px;
    padding: 20px;

    &__info {
      text-align: center;
      padding-bottom: 40px;
    }

    &__input {
      margin-bottom: 20px;
    }
  }
}
