<div class="register-activation">
  <div class="register-activation__content" *ngIf="success === null">
    <h2 class="title title--main">
      Activation de ton compte en cours...
    </h2>
    <i class="fa fa-spinner fa-spin fa-4x register-activation__content__icon" aria-hidden="true"></i>
  </div>
  <div class="register-activation__content" *ngIf="success === false">
    <i class="fa fa-5x fa-exclamation-circle register-activation__content__icon" aria-hidden="true"></i>
    <h2 class="title title--main">
      Impossible d'activer le compte.
    </h2>
    <p>
      Vérifie que ton compte n'ait pas déjà été activé, si ce n'est
      pas le cas n'hésite pas à contacter l'équipe d'administration.
    </p>
    <a class="button" routerLink="/login">
      Me rendre sur la page de connexion
    </a>
  </div>
  <div class="register-activation__content" *ngIf="success">
    <i class="fa fa-5x fa-check-circle register-activation__content__icon" aria-hidden="true"></i>
    <h2 class="title title--main">
      Ton compte est activé!
    </h2>
    <p>
      Tu peux maintenant te connecter à la plateforme.
    </p>
    <a class="button" routerLink="/login">
      Me rendre sur la page de connexion
    </a>
  </div>
</div>
