@import "../../../../assets/scss/_theme.scss";

.forgot-password-page {
  max-width: 500px;

  &__logo{
    height: 70px;
    margin: auto;
  }

  &__title {
    margin-top: 0;
  }

  &__form {
    text-align: left;

    width: 80%;
    max-width: 300px;
    margin: auto;

    &__actions {
      display: flex;
      justify-content: space-between;
    }
  }

  &__thanks {
    font-size: 12px;
    display: none;
  }
}

@media only screen and (max-width: 500px) {
  .login-page__thanks {
    display: block;
  }
}
