@import "../../../../assets/scss/_theme.scss";

.forgot-password-page {
  max-width: 500px;
  padding: 20px;

  &__logo{
    height: 70px;
    margin: auto;
  }

  &__form {
    margin-top: 30px;
    text-align: left;

    &__actions {
      display: flex;
      justify-content: space-between;
    }
  }
}
