<div class="forgot-password-page">
  <img class="forgot-password-page__logo" src="assets/images/logo.png" alt="Logo of NousRire" />
  <h2 class="forgot-password-page__title">
    Retrouver son mot de passe
  </h2>

  <form (submit)="resetPassword(forgotForm)" [formGroup]="forgotForm" class="forgot-password-page__form">
    <div class="form-group">
      <label for="username" class="form-label">Nom d'utilisateur associé à votre compte:</label>
      <input formControlName="username" type="text" id="username" class="form-input" />
      <div class="form-text form-text--right form-text--danger"
           *ngFor="let errorMessage of forgotForm.controls['username'].getError('apiError')">
        {{ errorMessage }}
      </div>
    </div>
    <div class="forgot-password-page__form__actions">
      <div>
        <a routerLink="/login">Se connecter</a>
      </div>
      <div>
        <button type="submit" class="button">
          Rechercher
        </button>
      </div>
    </div>
  </form>
</div>
