<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <title>
            #Volontaria
        </title>
        <link rel="stylesheet" href="../static/css/style.css">
    </head>
    <body style="padding: 40px;">
        <h3>Introduction</h3>
        You can check here some component of the first prototype.

        <hr/>

        <h3>Titles</h3>
        <xmp>
            <h2>Title style H2</h2>
            <h3>Title style H3</h3>
            <h4>Title style H4</h4>
        </xmp>
        <h2>Title style H2</h2>
        <h3>Title style H3</h3>
        <h4>Title style H4</h4>

        <hr/>

        <h3>Buttons</h3>
        <xmp>
            <a href="#" class="button">
                Standard button
            </a>
            <a href="#" class="button button--warning">
                Warning button
            </a>
            <a href="#" class="button button--danger">
                Danger button
            </a>
        </xmp>
        <a href="#" class="button">
            Standard button
        </a>
        <a href="#" class="button button--warning">
            Warning button
        </a>
        <a href="#" class="button button--danger">
            Danger button
        </a>

        <hr/>

        <h3>Cards</h3>
        <xmp>
            <div class="card">
                My text
            </div>
        </xmp>
        <div class="card">
            My text
        </div>

        <hr/>

        <h3>Tables</h3>
        <xmp>
            <table class="table" style="width: 50%;">
                <tr>
                    <th>Firstname</th>
                    <th>Lastname</th>
                </tr>
                <tr>
                    <td>Noel</td>
                    <td>Rignon</td>
                </tr>
                <tr>
                    <td>John</td>
                    <td>Doe</td>
                </tr>
                <tr>
                    <td>Bruce</td>
                    <td>Willis</td>
                </tr>
                <tr>
                    <td>Elon</td>
                    <td>Musk</td>
                </tr>
            </table>
        </xmp>
        <table class="table" style="width: 50%;">
            <tr>
                <th>Firstname</th>
                <th>Lastname</th>
            </tr>
            <tr>
                <td>Noel</td>
                <td>Rignon</td>
            </tr>
            <tr>
                <td>John</td>
                <td>Doe</td>
            </tr>
            <tr>
                <td>Bruce</td>
                <td>Willis</td>
            </tr>
            <tr>
                <td>Elon</td>
                <td>Musk</td>
            </tr>
        </table>

        <hr/>

        <h3>Navs</h3>
        <xmp>
            <div class="nav">
                <div class="nav__title">
                    Select one of these categories
                </div>
                <a href="#" class="nav__item">
                    First choice
                </a>
                <a href="#" class="nav__item">
                    Second choice
                </a>
                <a href="#" class="nav__item">
                    Third choice
                </a>
            </div>
        </xmp>
        <div class="nav">
            <div class="nav__title">
                Select one of these categories
            </div>
            <a href="#" class="nav__item">
                First choice
            </a>
            <a href="#" class="nav__item">
                Second choice
            </a>
            <a href="#" class="nav__item">
                Third choice
            </a>
        </div>
    </body>
</html>