<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <title>
            #Volontaria
        </title>
        <link rel="stylesheet" href="../static/css/style.css">
    </head>
    <body>
        <div id="container">
            <ul id="header" class="top-nav">
                <div class="top-nav__left">
                    <a href="#" class="top-nav__item top-nav__item--brand">
                        Volontaria
                    </a>
                    <a href="#" class="top-nav__item">
                        <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                        Inscription
                    </a>
                    <a href="#" class="top-nav__item">
                        <i class="fa fa-calendar" aria-hidden="true"></i>
                        Mon horaire
                    </a>
                    <a href="#" class="top-nav__item">
                        <i class="fa fa-info-circle" aria-hidden="true"></i>
                        Info
                    </a>
                </div>
                <div class="top-nav__right">
                    <a href="#" class="top-nav__item">
                        Log out
                        <i class="fa fa-sign-out" aria-hidden="true"></i>
                    </a>
                </div>
            </ul>
            <div id="content">
                <div class="page-homepage">
                    <div class="page-homepage__title">
                        #Bonjour Noel!
                    </div>
                </div>
            </div>
            <div id="footer">
                <div class="pre-footer">
                    <div class="pre-footer__title">
                        NousRire
                    </div>
                    <div class="pre-footer__columns">
                        <div class="pre-footer__columns__column">
                            #Amélie Vadeboncoeur</br>
                            #Artisane aux bénévoles</br>
                            #benevoles@nousrire.com</br>
                            #514-817-0728
                        </div>
                        <div class="pre-footer__columns__column">
                            #Sébatien Matte</br>
                            #Soutien technique</br>
                            #sebastien@nousrire.com
                        </div>
                        <div class="pre-footer__columns__column">
                            <i class="fa fa-3x fa-heart-o" aria-hidden="true"></i>
                        </div>
                    </div>
                </div>
                <div class="footer">
                    #Volontaria
                </div>
            </div>
        </div>
    </body>
</html>