<div class="my-benevolometre">
  <div class="my-benevolometre__legend">
    <div class="my-benevolometre__legend__title"
         *ngFor="let part of parts"
         [style.width.%]="part.percentage">
      {{ part.totalPercentage }}%
    </div>
  </div>
  <div class="my-benevolometre__body">
    <div class="my-benevolometre__body__part"
         *ngFor="let part of parts"
         [style.background]="part.color"
         [style.width.%]="part.percentage">
      <div class="my-benevolometre__body__part__head"
           *ngIf="part.totalPercentage < 100"
           [style.background]="part.color">
      </div>
      <div class="my-benevolometre__body__part__hover">
        {{ part.title }}
      </div>
    </div>
  </div>
  <div class="my-benevolometre__name">
    Taux de complétion de la page horaire
  </div>
</div>
