@import "../../../assets/scss/theme";

.my-benevolometre {
  &__legend {
    padding: 0 2px;
    display: flex;
    justify-content: flex-start;

    &__title {
      border-right: 2px solid $main-border;
      text-align: right;
      padding-right: 5px;
    }
  }

  &__body {
    position: relative;

    border: 4px solid $main-border;
    border-radius: 3px;
    width: 100%;
    height: 28px;

    display: flex;
    justify-content: flex-start;

    &__part {
      height: 100%;

      &__head {
        position: relative;
        left: 97%;
        height: 100%;
        width: 16px;
        border-radius: 0 50% 50% 0;
      }

      &__hover {
        position: absolute;
        left: 0;
        top: 45px;
        width: 100%;
        color: $color-info-text;
        background-color: $color-info-background;
        border: 2px solid $color-info-border;
        border-top: none;
        padding: 10px;
        display: none;
      }

      &:hover {
        .my-benevolometre__body__part__hover {
          display: block;
        }
      }
    }
  }

  &__name {
    font-size: 12px;
    text-align: right;
  }
}
