<div class="admin-volunteers">
  <div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
      <h2>#Tous les bénévoles</h2>
      <input id="search-volunteers" class="admin-volunteers__search" placeholder="#Rechercher...">
      <table class="table" style="width: 100%">
        <tr>
          <th>#Voir</th>
          <th>#Nom</th>
          <th>#Prénom</th>
          <th>#Courriel</th>
        </tr>
        <tr>
          <td><a class="button">Voir</a></td>
          <td>John</td>
          <td>Doe</td>
          <td>john.doe@gmail.com</td>
        </tr>
      </table>
    </div>
    <div class="col-md-3"></div>
  </div>
</div>
