<div class="info-page">
  <div>
    <p>
      Voici quelques précisions pour l'inscription
      aux activités de bénévolat:
    </p>


    <h2 class="info-page__title">
      Les missions des bénévoles sont variées, en voici un aperçu.
    </h2>

    <ul>
      <li>PRÉ-EMBALLAGE :  Emballer différents produits,
        étiqueter des sacs, assembler des commandes, faire la vaisselle…
      </li>
      <li>
        EMBALLAGE : Peser les aliments des participants en
        étant attitré à une station.
      </li>
    </ul>

    <h2 class="info-page__title">
      Inscription
    </h2>

    <p>
      Pour vous inscrire à une activité, cliquez sur le bouton
      à cet effet dans la colonne de droite. Vous serez redirigé
      vers une page de confirmation.
    </p>
    <p>
      Attention : Ne tardez pas trop à cliquer sur "confirmer",
      un compatriote pourrait voler votre place entretemps!
    </p>

    <h2 class="info-page__title">
      Désinscription
    </h2>

    <p>
      Attention : vous ne pouvez pas vous désinscrire vous-même
      d'une activité.
    </p>
    <p>
      Pour annuler votre inscription à une activité, contactez
      votre responsable des bénévoles.
    </p>

    <h2 class="info-page__title">
      Conflits d'horaire
    </h2>

    <p>
      Attention, ce site internet n'est pas intelligent!
      Nous comptons sur votre vigilance pour ne pas vous
      créer de conflits d'horaire.
    </p>
    <p>
      Aucun avertissement ne sera émis par le site si vous
      tentez de vous inscrire à deux activités qui se
      déroulent au même moment.
    </p>
  </div>
</div>
