<div class="admin-activities__content">
  <div class="row">
    <h2>#Liste des activitées</h2>
  </div>
  <div class="row">
    <div class="col-md-12">
      <table class="table" style="width: 100%">
        <tr>
          <th>#Date</th>
          <th>#Heures</th>
          <th>#Catégorie</th>
          <th>#Activité</th>
          <th>#Lieu</th>
          <th>#Bénévoles</th>
          <th>#Détail</th>
        </tr>
        <tr>
          <td>Date</td>
          <td>Heures</td>
          <td>Catégorie</td>
          <td>Activité</td>
          <td>Lieu</td>
          <td>Bénévoles</td>
          <td><a class="button" href="admin/activity">#Détail</a></td>
        </tr>
        <tr>
          <td>Date</td>
          <td>Heures</td>
          <td>Catégorie</td>
          <td>Activité</td>
          <td>Lieu</td>
          <td>Bénévoles</td>
          <td><a class="button" href="admin/activity">#Détail</a></td>
        </tr>
        <tr>
          <td>Date</td>
          <td>Heures</td>
          <td>Catégorie</td>
          <td>Activité</td>
          <td>Lieu</td>
          <td>Bénévoles</td>
          <td><a class="button" href="admin/activity">#Détail</a></td>
        </tr>
      </table>
    </div>
  </div>
</div>
