.activities-page {
  padding: 1rem;

  &__upcoming-events {
    padding-bottom: 1rem;
  }

  &__filters {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 1rem;

    &__filter {
      max-width: 200px;
      padding-right: 1rem;
    }
  }

  &__activities {
    overflow-x: scroll;
  }
}

@media only screen and (max-width: 500px) {
  .activities-page__filters {
    justify-content: center;

    &__filter {
      width: 100%;
      max-width: 100%;
    }
  }
}
