<div class="activities-page__content">
  <div class="activities-page__upcoming-events">
    <table class="table" style="width: 100%;">
      <tr>
        <td>#Journée d'embalage - Novembre 2017</td>
        <td>#Les inscriptions sont maintenant ouvertes</td>
      </tr>
    </table>
  </div>
  <div class="activities-page__filter">
    <div class="row">
      <div class="col-md-6">
        <div class="box">
          <select>
            <option>#Pré-embalage</option>
            <option>#Embalage</option>
          </select>
        </div>
      </div>
      <div class="col-md-6">
        <div class="box">
          <select>
            <option>#Montréal</option>
            <option>#Laval</option>
          </select>
        </div>
      </div>
    </div>
  </div>
  <div class="activities-page__activities">
    <table class="table" style="width: 100%;">
      <tr>
        <th>#Évenement</th>
        <th>#Date</th>
        <th>#Heure</th>
        <th>#Catégorie</th>
        <th>#Activité</th>
        <th>#Lieu</th>
        <th>#Inscription</th>
      </tr>
      <tr>
        <td>#Novembre</td>
        <td>#dimanche 26 novembre</td>
        <td>#08h45 à 14h00</td>
        <td>#Embalage</td>
        <td>#Emballage: peser les aliments des participants en étant attitré à une station.</td>
        <td>#Montréal</td>
        <td>#Bénévoles : 15 / 15<br>#Remplacants : 1 / 4<br><a routerLink="/confirmation" class="button">#Je veux
          m'inscrire comme
          remplacant</a></td>
      </tr>
      <tr>
        <td>#Novembre</td>
        <td>#dimanche 26 novembre</td>
        <td>#08h45 à 14h00</td>
        <td>#Embalage</td>
        <td>#Emballage: peser les aliments des participants en étant attitré à une station.</td>
        <td>#Montréal</td>
        <td>#Bénévoles : 15 / 15<br>#Remplacants : 1 / 4<br><a routerLink="/confirmation" class="button">#Je veux
          m'inscrire comme
          remplacant</a></td>
      </tr>
      <tr>
        <td>#Novembre</td>
        <td>#dimanche 26 novembre</td>
        <td>#08h45 à 14h00</td>
        <td>#Embalage</td>
        <td>#Emballage: peser les aliments des participants en étant attitré à une station.</td>
        <td>#Montréal</td>
        <td>#Bénévoles : 10 / 15<br>#Remplacants : 1 / 4<br><a routerLink="/confirmation" class="button">#Je veux
          m'inscrire comme
          bénévole</a></td>
      </tr>
      <tr>
        <td>#Novembre</td>
        <td>#dimanche 26 novembre</td>
        <td>#08h45 à 14h00</td>
        <td>#Embalage</td>
        <td>#Emballage: peser les aliments des participants en étant attitré à une station.</td>
        <td>#Montréal</td>
        <td>#Bénévoles : 10 / 15<br>#Remplacants : 1 / 4<br><a routerLink="/confirmation" class="button">#Je veux
          m'inscrire comme
          bénévole</a></td>
      </tr>
      <tr>
        <td>#Novembre</td>
        <td>#dimanche 26 novembre</td>
        <td>#08h45 à 14h00</td>
        <td>#Embalage</td>
        <td>#Emballage: peser les aliments des participants en étant attitré à une station.</td>
        <td>#Montréal</td>
        <td>#Bénévoles : 15 / 15<br>#Remplacants : 1 / 4<br><a routerLink="/confirmation" class="button">#Je veux
          m'inscrire comme
          remplacant</a></td>
      </tr>
      <tr>
        <td>#Novembre</td>
        <td>#dimanche 26 novembre</td>
        <td>#08h45 à 14h00</td>
        <td>#Embalage</td>
        <td>#Emballage: peser les aliments des participants en étant attitré à une station.</td>
        <td>#Montréal</td>
        <td>#Bénévoles : 15 / 15<br>#Remplacants : 1 / 4<br><a routerLink="/confirmation" class="button">#Je veux
          m'inscrire comme
          remplacant</a></td>
      </tr>
      <tr>
        <td>#Novembre</td>
        <td>#dimanche 26 novembre</td>
        <td>#08h45 à 14h00</td>
        <td>#Embalage</td>
        <td>#Emballage: peser les aliments des participants en étant attitré à une station.</td>
        <td>#Montréal</td>
        <td>#Bénévoles : 15 / 15<br>#Remplacants : 1 / 4<br><a routerLink="/confirmation" class="button">#Je veux
          m'inscrire comme
          remplacant</a></td>
      </tr>

    </table>
  </div>

</div>
