<div class="activities-page">
  <div class="activities-page__upcoming-events">
    <table class="table">
      <tr>
        <td>#Journée d'embalage - Novembre 2017</td>
        <td>#Les inscriptions sont maintenant ouvertes</td>
      </tr>
    </table>
  </div>
  <div class="activities-page__filters">
    <select class="activities-page__filters__filter" multiple [(ngModel)]="tasktypeFilter" (change)="filter()">
      <option disabled>Filter par tache</option>
      <option *ngFor="let tasktype of tasktypes" value="{{ tasktype.id }} ">
        {{ tasktype.name }}
      </option>
    </select>
    <select class="activities-page__filters__filter" multiple [(ngModel)]="cellFilter" (change)="filter()">
      <option disabled>Filter par cellule</option>
      <option *ngFor="let cell of cells" value="{{ cell.id }} ">
        {{ cell.name }}
      </option>
    </select>
  </div>
  <div class="activities-page__activities">
    <table class="table">
      <tr>
        <th>Début</th>
        <th>Fin</th>
        <th>Activité</th>
        <th>Lieu</th>
        <th>Inscription</th>
      </tr>
      <tr *ngFor="let event of filteredEvents">
        <td>
          {{ event.start_date | date:'dd MMMM yyyy'}}<br/>
          {{ event.start_date | date:'HH:mm'}}
        </td>
        <td>
          {{ event.end_date | date:'dd MMMM yyyy'}}<br/>
          {{ event.end_date | date:'HH:mm'}}
        </td>
        <td>
          {{ event.task_type.name }}
        </td>
        <td>
          {{ event.cell.address.address_line1 }}<br/>
          {{ event.cell.address.address_line2 }}<br/>
          {{ event.cell.address.postal_code }} {{ event.cell.address.city }}
        </td>
        <td>
          Bénévoles : {{ event.nb_volunteers }} / {{ event.nb_volunteers_needed }}<br>
          Remplacants : {{ event.nb_volunteers_standby }} / {{ event.nb_volunteers_standby_needed }}<br>
          <p *ngIf="event.volunteers.indexOf(user.id) < 0">
            <a *ngIf="event.nb_volunteers < event.nb_volunteers_needed || event.nb_volunteers_standby < event.nb_volunteers_standby_needed" routerLink="/confirmation/{{ event.id }}" class="button">
              M'inscrire
            </a>
            <span *ngIf="event.nb_volunteers >= event.nb_volunteers_needed && event.nb_volunteers_standby >= event.nb_volunteers_standby_needed">
              Evenement complet
            </span>
          </p>
          <p *ngIf="event.volunteers.indexOf(user.id) >= 0">
            Deja inscrit.
          </p>
        </td>
      </tr>
    </table>
  </div>

</div>
