.admin-event {
  margin: 20px;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  &__details-left {
    width: 50%;
    padding: 20px;
  }

  &__details-right {
    width: 50%;
    padding: 20px;
  }

  &__participations {
    width: 100%;
    padding: 20px;
    overflow-x: auto;
  }
}

@media only screen and (max-width: 1100px) {
  .admin-event {
    flex-direction: column;

    &__details-left {
      padding: 20px;
      width: 100%;
      overflow-x: scroll;
    }

    &__details-right {
      width: 100%;
      padding: 20px;
      overflow-x: scroll;
    }
  }
}
