<div class="admin-event" *ngIf="event">
  <div class="admin-event__details-left">
    <h1 class="title title--main">Informations générales: </h1>
    <table class="table">
      <tr>
        <th>Début</th>
        <td>{{ event.start_date | date:'dd MMMM yyyy' }} à {{ event.start_date | date:'HH:mm' }}</td>
      </tr>
      <tr>
        <th>Fin</th>
        <td>{{ event.end_date | date:'dd MMMM yyyy' }} à {{ event.end_date | date:'HH:mm' }}</td>
      </tr>
      <tr>
        <th>Nombre de bénévoles</th>
        <td>{{ event.nb_volunteers }} / {{ event.nb_volunteers_needed }}</td>
      </tr>
      <tr>
        <th>Nombre de remplaçants</th>
        <td>{{ event.nb_volunteers_standby }} / {{ event.nb_volunteers_standby_needed }}</td>
      </tr>
    </table>
  </div>
  <div class="admin-event__details-right">
    <h1 class="title title--main">Détails:</h1>
    <table class="table">
      <tr>
        <th>Adresse</th>
        <td>
          {{ event.cell.address.address_line1 }},<br/>
          <span *ngIf="event.cell.address.address_line2">{{ event.cell.address.address_line2 }},<br/></span>
          {{ event.cell.address.city }}, {{ event.cell.address.postal_code }}
        </td>
      </tr>
      <tr>
        <th>Cycle</th>
        <td>{{ event.cycle.name }}</td>
      </tr>
      <tr>
        <th>Cellule</th>
        <td>{{ event.cell.name }}</td>
      </tr>
      <tr>
        <th>Activité</th>
        <td>{{ event.task_type.name }}</td>
      </tr>
    </table>
  </div>

  <div class="admin-event__participations" *ngIf="isManager()">
    <h1 class="title title--main">Participations: </h1>
    <div class="admin-event__actions__buttons">
      <button
        (click)="OpenModalCreateParticipation()"
        class="button button--success">
        Créer une participation
      </button>
  </div>
    <app-my-table [settings]="settings"
                  [data]="participationsAdapted"
                  (editItem)="OpenModalEditParticipation($event)"
                  (selectItem)="userClicked($event)"
                  (removeItem)="removeField($event)"
    ></app-my-table>
  </div>
</div>

<app-my-modal name="participation modal"
              title="{{ modalTitle }}"
              button2Label="Envoyer"
              (button2)="opParticipation()"
              typeModal="form"
              maxWidth="600px">

  <form [formGroup]="participationForm">
    <div class="form-group">
      <label for="user" class="form-label">Bénévole:</label>
      <ng2-completer
        id="user"
        formControlName="user"
        [(ngModel)]="searchStr"
        [datasource]="dataServiceUser"
        (selected)="onUserSelected($event)"
        [minSearchLength]="3"
        [fillHighlighted]="false"
        [autofocus]="true"
        [pause]="500"
        [placeholder]="'Entrez prénom, nom, nom d\'utilisateur ou courriel'"
        [textSearching]="'Recherche en cours...'"
        [textNoResults]="'Aucun résultat.'"
        [clearUnselected]="true"
      ></ng2-completer>
    </div>

    <div class="form-group">
      <label for="presence_status" class="form-label">Présence:</label>
      <select formControlName="presence_status" id="presence_status" class="input input--select">
        <option value="" disabled>Choisis un status</option>
        <option *ngFor="let status of participationStatusOption" [value]="status.value">{{ status.name }}</option>
      </select>
      <div class="form-text form-text--right form-text--danger"
           *ngFor="let errorMessage of participationForm.controls['presence_status'].getError('apiError')">
        {{ errorMessage}}
      </div>
    </div>

    <div class="form-group" *ngIf="event && participationForm.controls['presence_status'].value === 'P'">
      <label for="start_date" class="form-label">Heure d'arrivée:</label>
      <input [owlDateTimeTrigger]="dt12" [owlDateTime]="dt12"
             [max]="event.end_date" formControlName="start_date"
             class="input" id="start_date">
      <owl-date-time #dt12 [firstDayOfWeek]="1" [startAt]="event.start_date"></owl-date-time>
      <div class="form-text form-text--right form-text--danger"
           *ngFor="let errorMessage of participationForm.controls['start_date'].getError('apiError')">
        {{ errorMessage}}
      </div>
    </div>

    <div class="form-group" *ngIf="event && participationForm.controls['presence_status'].value === 'P'">
      <label for="end_date" class="form-label">Heure de départ:</label>
      <input [owlDateTimeTrigger]="dt13" [owlDateTime]="dt13"
             [min]="event.start_date" formControlName="end_date"
             class="input" id="end_date">
      <owl-date-time #dt13 [firstDayOfWeek]="1" [startAt]="event.end_date"></owl-date-time>
      <div class="form-text form-text--right form-text--danger"
           *ngFor="let errorMessage of participationForm.controls['end_date'].getError('apiError')">
        {{ errorMessage}}
      </div>
    </div>

    <div class="alert alert--danger" *ngIf="participationForm.hasError('apiError')">
      <ul>
        <li *ngFor="let error of participationForm.getError('apiError')">
          {{error}}
        </li>participationStatusOption
      </ul>
    </div>

  </form>
</app-my-modal>
