@import '../../../../assets/scss/theme';

.activities-page {
  &__header {
    padding: 30px;
    background-color: $main-background-dark;
    min-height: 150px;
    border-bottom: 1px solid $main-border;

    &__title {
      font-size: 30px;
      margin: 5px 0;
    }

    &__address {
      font-size: 1em;
    }

    &__filters {
      margin-top: 10px;
      display: flex;
      flex-wrap: wrap;
      padding-bottom: 1rem;

      &__filter {
        width: 300px;
        box-sizing: border-box;
        padding-right: 2rem;
      }
    }
  }

  &__activities {
    padding: 30px;
    display: flex;

    &__calendar {
      max-width: 700px;
      width: 100%;

      &__actions {
        display: flex;
        justify-content: space-between;
        align-items: center;

        &__date {
          text-align: center;
        }
      }

      &__details {
        &__title {
          margin-top: 10px;
          font-weight: 900;
        }

        &__table {
          overflow: auto;
        }
      }

      &__benevolometre {
        &__title {
          margin-bottom: 10px;
          font-size: 1.2em;
        }
      }
    }

    &__infos {
      padding: 0 20px;
      flex: 1;

      &__explanation {
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        &__title {
          font-size: 1.5em;
        }

        &__icon {
          height: 70px;
          transform: scale(-1, 1);
        }
      }
    }
  }
}


@media only screen and (max-width: 1500px) {
  .activities-page__activities__calendar {
    width: auto;
  }
}

@media only screen and (max-width: 1300px) {
  .activities-page__activities {
    flex-direction: column;
    align-items: center;

    &__calendar {
      width: 100%;
      max-width: none;
    }

    &__infos {
      width: 100%;
      padding: 60px 0;

      &__explanation {
        display: none;
      }
    }
  }
}

