

<!-- <router-outlet></router-outlet> -->

<!-- source: https://blog.angular-university.io/angular-material-data-table/ -->

<div class="events">
  <div class="events__content">
    <div class="events__content__title">
      Événements
    </div>



<mat-table class="events__content__table" [dataSource]="eventList">

<mat-paginator #paginator [length]="100"
[pageSize]="10"
[pageSizeOptions]="[5, 10, 25, 100]">

</mat-paginator>
  


  <ng-container matColumnDef="description">
      <mat-header-cell *matHeaderCellDef 
      class="events__content__table__header">
      Description</mat-header-cell>
      <mat-cell class="events__content__table__cell--text"
                *matCellDef="let item">{{item.description}}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="start_time">
      <mat-header-cell *matHeaderCellDef
      class="events__content__table__header">
      Début</mat-header-cell>
      <mat-cell class="events__content__table__cell--date"
                *matCellDef="let item">{{item.start_time | date: 'd MMM yy H:mm'}}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="end_time">
    <mat-header-cell *matHeaderCellDef
    class="events__content__table__header">
    Fin</mat-header-cell>
    <mat-cell class="events__content__table__cell--date"
              *matCellDef="let item">{{item.end_time | date: 'd MMM yy H:mm'}}</mat-cell>
  </ng-container>

  <!-- <ng-container matColumnDef="volunteers">
    <mat-header-cell *matHeaderCellDef
    class="events__content__table__header">
    Bénévoles inscrits</mat-header-cell>
    <mat-cell class="events__content__table__cell--number"
              *matCellDef="let item">{{item.nb_volunteers}}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="volunteers_needed">
    <mat-header-cell *matHeaderCellDef
    class="events__content__table__header">
    Bénévoles requis</mat-header-cell>
    <mat-cell class="events__content__table__cell--number"
              *matCellDef="let item">{{item.nb_volunteers_needed}}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="standby">
    <mat-header-cell *matHeaderCellDef
    class="events__content__table__header--number">
    Remplaçants inscrits</mat-header-cell>
    <mat-cell class="events__content__table__cell"
              *matCellDef="let item">{{item.nb_volunteers_standby}}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="standby_needed">
    <mat-header-cell *matHeaderCellDef
    class="events__content__table__header--number">
    Remplaçants requis</mat-header-cell>
    <mat-cell class="events__content__table__cell"
              *matCellDef="let item">{{item.nb_volunteers_standby_needed}}</mat-cell>
  </ng-container> -->

  <ng-container matColumnDef="cell">
    <mat-header-cell *matHeaderCellDef
    class="events__content__table__header">
    Lieu</mat-header-cell>
    <mat-cell class="events__content__table__cell--text"
              *matCellDef="let item">{{item.cell.name}}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="task_type">
    <mat-header-cell *matHeaderCellDef
    class="events__content__table__header">
    Activité</mat-header-cell>
    <mat-cell class="events__content__table__cell--text"
              *matCellDef="let item">{{item.task_type.name}}</mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  
  <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>


</mat-table>

  </div>
</div>
