@import "../../../assets/scss/_theme.scss";

.modal-component {
  background: rgba(0,0,0,0.6);
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  &__content {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;

    &__reveal {
      background: $main-background;
      position: relative;
      display: flex;
      flex-direction: column;
      max-width: 90%;
      min-height: 150px;

      &__header{
        padding: 10px;
        font-weight: 900;
        color: $main-color;
        background-color: $secondary-color;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: row-reverse;

        &__cancel {
          font-size: 25px;
          font-weight: 600;

          &:hover {
            cursor: pointer;
            font-weight: 400;
          }
        }

        &__title {
          font-size: 16px;
        }
      }

      &__content {
        padding: 20px 40px;
        flex: 1;

        max-height: 80vh;
        overflow: auto;

        &__button {
          text-align: center;
          margin: 20px 0;
          width: 100%;
        }
      }
    }
  }
}
