.page-homepage {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;

  &__title {
    margin: 30px;
  }

  &__content {
    margin: auto;
    width: 100%;
    max-width: 600px;
  }
}
