.form-text {
  font-size: 0.9em;

  &--right {
    text-align: right;
  }

  &--danger {
    color: $color-danger;
  }

  &--success {
    color: $color-success
  }

  &--warning {
    color: $color-warning;
  }
}
