input {
  width: 100%;
  border: 2px solid lightgrey;
  border-radius: 0;
  padding: 10px;
  box-sizing: border-box;
}

.input {
  &--error {
    box-shadow: 0 0 5px $color-danger;
  }

  &.ng-invalid {
    border-color: $color-danger;
    box-shadow: 0 0 5px $color-danger; /* red */
    margin-top: 5px;
  }

  &.ng-valid.ng-touched {
    border-color: $color-success;
    box-shadow: 0 0 5px $color-success; /* green */
    margin-top: 5px;
  }
}


