.input {
  border: none;
  border-bottom: 1px solid grey;
  width: 100%;
  height: 30px;
  padding: 1px 0 0 5px;
  background-color: transparent;
  -moz-appearance: none;
  -webkit-appearance: none;
  color: $main-color;
  transition: all $ease-inout-sine 300ms;

  &[type='radio']{
    border-radius: 50%;
    border: 1px solid $main-color;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 20px;
    height: 20px;
    cursor: pointer;

    &:checked {
      background-color: $main-color;
    }
  }

  &[type='checkbox']{
    border-radius: 50%;
    border: 1px solid $main-color;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 20px;
    height: 20px;
    cursor: pointer;

    &:checked {
      background-color: $main-color;
    }
  }

  &--textarea {
    height: 200px;
    max-width: 100%;
    padding: 5px;
    border: 1px solid $main-color;
    border-radius: 3px;
    -moz-appearance: textfield-multiline;
    -webkit-appearance: textarea;
  }

  &:disabled {
    border-color: lightgrey;
  }

  &:focus {
    border-width: 3px;
  }

  &.ng-touched {
    border-width: 3px;
  }

  &.ng-invalid.ng-touched  {
    border-color: $color-danger;
  }
}
