<div class="admin-tasks">
  <h1 class="title title--main admin-tasks__title">Liste des type de tache</h1>

  <app-my-table [settings]="settings"
                [data]="tasks"
                (addButton)="toggleModal()">
  </app-my-table>
</div>


<app-my-modal name="create task"
              title="Création d'un type de tache"
              button2Label="Créer"
              (button1)="taskForm.reset()"
              (button2)="createTask(taskForm)"
              typeModal="form"
              maxWidth="600px">

  <form [formGroup]="taskForm">
    <div class="form-group">
      <label for="name" class="form-label">Nom: </label>
      <input class="input" formControlName="name" id="name" required>
      <div *ngIf="taskForm.controls['name'].invalid"
           class="form-text form-text--right form-text--danger">Le nom est obligatoire.
      </div>
    </div>
  </form>
</app-my-modal>
