<div class="myschedule">
  <div class="myschedule__infos">
    <h2>Mes coordonnées</h2>
    <table class="table" *ngIf="user">
      <tr>
        <th>Prénom</th>
        <td>{{ user.first_name }}</td>
      </tr>
      <tr>
        <th>Nom</th>
        <td>{{ user.last_name }}</td>
      </tr>
      <tr>
        <th>Téléphone (Maison)</th>
        <td>{{ user.phone }}</td>
      </tr>
      <tr>
        <th>Téléphone (Cellulaire)</th>
        <td>{{ user.mobile }}</td>
      </tr>
      <tr>
        <th>Courriel</th>
        <td>{{ user.email }}</td>
      </tr>
    </table>
  </div>
  <div class="myschedule__account" *ngIf="user">
    <h2>Mon compte</h2>
    <table class="table">
      <tr>
        <th>Nom d'utilisateur</th>
        <td>{{ user.username }}</td>
      </tr>
    </table>
  </div>
  <div class="myschedule__volunteer">
    <h2>Mon horaire - Bénévole</h2>
    <table class="table">
      <tr>
        <th>Début</th>
        <th>Fin</th>
        <th>Activité</th>
        <th>Lieu</th>
        <th>Actions</th>
      </tr>
      <tr *ngIf="eventsAsVolunteer.length == 0">
        <td colspan="7">
          Aucune plage horaire pour le moment
        </td>
      </tr>
      <tr *ngFor="let event of eventsAsVolunteer">
        <td>
          {{ event.start_date | date:'dd MMMM yyyy'}}<br/>
          {{ event.start_date | date:'HH:mm'}}
        </td>
        <td>
          {{ event.end_date | date:'dd MMMM yyyy'}}<br/>
          {{ event.end_date | date:'HH:mm'}}
        </td>
        <td>
          {{ event.task_type.name }}
        </td>
        <td>
          {{ event.cell.address.address_line1 }}<br/>
          {{ event.cell.address.address_line2 }}<br/>
          {{ event.cell.address.postal_code }} {{ event.cell.address.city }}
        </td>
        <td>
          <my-modal name="hello world" title="Desinscription a un evenement">
            Voulez-vous vraiment supprimer votre participation ?
          </my-modal>
          <button myModalOpen="hello world" class="button button--danger">
            Me désinscrire
          </button>
        </td>
      </tr>
    </table>
  </div>
  <div class="myschedule__on-hold">
    <h2>Mon horaire - Remplaçant</h2>
    <table class="table">
      <tr>
        <th>Début</th>
        <th>Fin</th>
        <th>Activité</th>
        <th>Lieu</th>
      </tr>
      <tr *ngIf="eventsAsOnHold.length == 0">
        <td colspan="7">
          Aucune plage horaire pour le moment
        </td>
      </tr>
      <tr *ngFor="let event of eventsAsOnHold">
        <td>
          {{ event.start_date | date:'dd MMMM yyyy'}}<br/>
          {{ event.start_date | date:'HH:mm'}}
        </td>
        <td>
          {{ event.end_date | date:'dd MMMM yyyy'}}<br/>
          {{ event.end_date | date:'HH:mm'}}
        </td>
        <td>
          {{ event.task_type.name }}
        </td>
        <td>
          {{ event.cell.address.address_line1 }}<br/>
          {{ event.cell.address.address_line2 }}<br/>
          {{ event.cell.address.postal_code }} {{ event.cell.address.city }}
        </td>
      </tr>
    </table>
  </div>
</div>
