<div class="myschedule">
  <div class="myschedule__infos">
    <h1 class="title title--main">Mes coordonnées</h1>
    <table class="table" *ngIf="user">
      <tr>
        <th>Prénom</th>
        <td>{{ user.first_name }}</td>
      </tr>
      <tr>
        <th>Nom</th>
        <td>{{ user.last_name }}</td>
      </tr>
      <tr>
        <th>Téléphone (Maison)</th>
        <td>{{ user.phone }}</td>
      </tr>
      <tr>
        <th>Téléphone (Cellulaire)</th>
        <td>{{ user.mobile }}</td>
      </tr>
      <tr>
        <th>Courriel</th>
        <td>{{ user.email }}</td>
      </tr>
    </table>
  </div>
  <div class="myschedule__account" *ngIf="user">
    <h1 class="title title--main">Mon compte</h1>
    <table class="table">
      <tr>
        <th>Nom d'utilisateur</th>
        <td>{{ user.username }}</td>
      </tr>
      <tr>
        <th>Mot de passe</th>
        <td>
          <button appMyModalOpen="change password"
                  class="button button--success">
            Changer mon mot de passe
          </button>
        </td>
      </tr>
    </table>
  </div>
  <div class="myschedule__volunteer">
    <h1 class="title title--main">Mon horaire - Bénévole</h1>
    <table class="table">
      <tr>
        <th>Début</th>
        <th>Fin</th>
        <th>Activité</th>
        <th>Lieu</th>
        <th>Actions</th>
      </tr>
      <tr *ngIf="eventsAsVolunteer.length == 0">
        <td colspan="7">
          Aucune plage horaire pour le moment
        </td>
      </tr>
      <tr *ngFor="let event of eventsAsVolunteer">
        <td>
          {{ event.start_date | date:'dd MMMM yyyy'}}<br/>
          {{ event.start_date | date:'HH:mm'}}
        </td>
        <td>
          {{ event.end_date | date:'dd MMMM yyyy'}}<br/>
          {{ event.end_date | date:'HH:mm'}}
        </td>
        <td>
          {{ event.task_type.name }}
        </td>
        <td>
          {{ event.cell.address.address_line1 }}<br/>
          {{ event.cell.address.address_line2 }}<br/>
          {{ event.cell.address.postal_code }} {{ event.cell.address.city }}
        </td>
        <td>
          <a (click)="askToDeleteParticipation(event.id)" class="button button--danger">
            Me désinscrire
          </a>
        </td>
      </tr>
    </table>
  </div>
  <div class="myschedule__on-hold">
    <h1 class="title title--main">Mon horaire - Remplaçant</h1>
    <table class="table">
      <tr>
        <th>Début</th>
        <th>Fin</th>
        <th>Activité</th>
        <th>Lieu</th>
      </tr>
      <tr *ngIf="eventsAsOnHold.length == 0">
        <td colspan="7">
          Aucune plage horaire pour le moment
        </td>
      </tr>
      <tr *ngFor="let event of eventsAsOnHold">
        <td>
          {{ event.start_date | date:'dd MMMM yyyy'}}<br/>
          {{ event.start_date | date:'HH:mm'}}
        </td>
        <td>
          {{ event.end_date | date:'dd MMMM yyyy'}}<br/>
          {{ event.end_date | date:'HH:mm'}}
        </td>
        <td>
          {{ event.task_type.name }}
        </td>
        <td>
          {{ event.cell.address.address_line1 }}<br/>
          {{ event.cell.address.address_line2 }}<br/>
          {{ event.cell.address.postal_code }} {{ event.cell.address.city }}
        </td>
      </tr>
    </table>
  </div>
</div>

<app-my-modal name="change password"
              title="Changement du mot de passe"
              button2Label="Changer mon mot de passe"
              (button1)="changePasswordForm.reset()"
              (button2)="changePassword(changePasswordForm)"
              typeModal="form"
              maxWidth="600px">

  <form [formGroup]="changePasswordForm">
    <div class="form-group">
      <label for="old-password" class="form-label">Mot de passe actuel: </label>
      <input type="password" class="input" formControlName="oldPassword" id="old-password" required autofocus>
      <div class="form-text form-text--right form-text--danger"
           *ngIf="changePasswordForm.controls['oldPassword'].hasError('badPassword')">Mot de passe incorrect.</div>
    </div>
    <div class="form-group">
      <label for="new_password" class="form-label">Nouveau mot de passe: </label>
      <input type="password" formControlName="newPassword" id="new_password" class="input">
      <div *ngIf="changePasswordForm.controls['newPassword'].hasError('apiError')">
        <div class="form-text form-text--right form-text--danger"
             *ngFor="let errorMessage of changePasswordForm.controls['newPassword'].getError('apiError')">
          {{ errorMessage }}
        </div>
      </div>
    </div>

    <div class="form-group">
      <label for="confirmation" class="form-label">Confirmation: </label>
      <input type="password" formControlName="confirmation" id="confirmation" class="input">
      <div class="form-text form-text--right form-text--danger"
           *ngIf="changePasswordForm.controls['confirmation'].hasError('confirmationError')">La confirmation est erronée.</div>
    </div>
  </form>
</app-my-modal>

<app-my-modal name="delete_participation"
              title="Annuler une participation"
              button2Label="Annuler ma participation"
              (button1)="toggleModal('delete_participation')"
              (button2)="deleteParticipation()"
              typeModal="form"
              maxWidth="600px">
  <p>
    L'annulation de ta participation est un acte important puisque les autres bénévoles compte sur ta présence.
  </p>
  <p>
    Es-tu vraiment sûr de vouloir annuler ta participation ?
  </p>
</app-my-modal>
