<div class="page-homepage">
  <div class="page-homepage__title">
    Bonjour #Noel!
  </div>
  <div class="page-homepage__content">
    <h3>Voici les évenements à venir :</h3>
    <div class="card" *ngFor="let cycle of cycles">
      <p>
        <b>{{ cycle.name }}</b>
      </p>
      <p>
        Du {{ cycle.start_date | date:'dd/MM/yyyy'}} au {{ cycle.end_date | date:'dd/MM/yyyy'}}
      </p>
      <a routerLink="/activities" class="button">
        Cliquez ici pour soumettre votre candidature
      </a>
    </div>
  </div>

</div>
