<div class="page-homepage">
  <div class="page-homepage__title">
    #Bonjour Noel!
  </div>
  <div class="page-homepage__content">
    <h3>#Voici les évenements à venir :</h3>
    <div class="page-homepage__box">
      <p class="page-homepage__bold">#Journée d'embalage - Novembre 2017</p>
      <p>#14 Novenbre au 2 décembre 2017</p>
      <a href="#" class="button">#Cliquez ici pour soumettre votre candidature</a>
    </div>
    <br>
    <br>
    <br>
    <p>#Si c'est votre première visite, veuillez lire attentivement les instructions pour Volontaria :</p>
    <a href="#">#Instructions</a>
  </div>

</div>
