<div class="info-page">
  <div>
    <b>Bienvenue à toi dans notre joyeuse gang de bénévoles !</b><br/><br/>
    <div class="info-page__content">
    <p>
      NousRire c’est aussi grâce à toi, alors d’infinis mercis pour ton implication dans notre cause. Par ta participation et celles de tous les rieurs et rieuses, NousRire est vivant et inspirant !<br/>
    </p>
    <p>
      Tu trouveras dans cette section une série d’informations bien bonnes à savoir afin de rendre ton expérience chez NousRire le plus agréable possible.
    </p>
    </div>

    <h3 class="info-page__title title">
      Inscription et désinscription
    </h3>
    <h4 class="info-page__sub-title title title--secondary">On compte sur toi !</h4>
    <div class="info-page__content">
      <p>
        Comme le bon déroulement des journées de cueillette dépend du nombre suffisant de bénévoles, nous comptons sur ta présence.
      </p>
      <p>
        Toutefois, si tu avais un changement dans tes horaires qui empêches de venir à ton bénévolat, tu peux parfaitement de désinscrire toi-même en allant dans l’onglet
        <a href="/schedule">Mon horaire</a>, depuis ton compte Volontaria.
      </p>
      <p>
        Dans la mesure du possible, nous t’invitons à te désinscrire le plus tôt possible afin de pouvoir nous organiser. Merci à toi !
      </p>
      <p>
        Cependant, si tu ne pouvais pas te désinscrire avant le jour de ton bénévolat, désinscris-toi lorsque tu le peux et contacte le ou la responsable de la cellule de ta ville afin que nous trouvions un(e) autre bénévole pour te remplacer dans ta mission.
        Tu peux nous contacter par courriel (merci de préciser ton nom et la plage horaire de ton bénévolat) ou par téléphone.
      </p>
      <p>
        Tu trouveras le contact des responsables de cellules dans l’onglet <a href="/contact" target="_blank">Contacts</a> depuis ton compte Volontaria.
      </p>
    </div>

    <h4 class="info-page__sub-title title title--secondary">Inscription</h4>
    <div class="info-page__content">
      <p>Pour t’inscrire à une plage horaire de bénévolat :</p>

      <ul>
        <li>Choisis la ville où tu souhaites faire du bénévolat,</li>
        <li>Dans le calendrier, recherche les prochains événements signalés par des points de couleurs,</li>
        <li>Choisis ton jour de bénévolat,</li>
        <li>En bas du calendrier s’affichera les missions proposées pour cette journée, clique sur la mission que tu désires faire,</li>
        <li>Révise les informations concernant la plage horaire que tu as choisi</li>
        <li>Coche la case <i>J’ai bien lu la page d’informations</i> <b>(à consulter absolument pour arriver fin prêt(e))</b>.</li>
        <li>Clique sur <i>M’inscrire comme bénévole</i>,</li>
        <li>S’ouvrira alors une page avec tes informations et dans un encadré vert, en bas à droite apparaîtra le message Inscription réussie ! Merci.</li>
      </ul>

      <p>
        <b>Bon à savoir</b> : nous n’envoyons <b>aucune confirmation, ni aucun rappel pour ton bénévolat</b>. Dès que tu es inscrit(e), ta participation est confirmée.
        Si tu as besoin d’une vérification de ta ou tes plages horaires d’inscription, tu peux en tout temps te connecter à ton compte Volontaria et aller dans l’onglet <a href="/schedule">Mon horaire</a>.
      </p>
      <p>
        <b>Important</b> : nous t’invitons à bien prendre connaissance des informations se trouvant dans cette page afin d’être prêt le jour venu pour ton bénévolat.
      </p>
      <p>
      Si tu as des problèmes de santé, des restrictions ou des allergies, tu peux nous en informer par courriel. Nous nous adapterons à tes besoins !
      </p>
      <p>
        Tu trouveras l’adresse courriel des responsables de cellule dans l’onglet <a href="/contact" target="_blank">Contacts</a> sur Volontaria.
      </p>
    </div>

    <h4 class="info-page__sub-title title title--secondary">Désinscription</h4>
    <div class="info-page__content">
      <p>
        Tu peux te désinscrire d’une plage horaire à tout moment. Pour cela, il te suffit d’aller dans l’onglet <a href="/schedule" target="_blank">Mon horaire</a> et de cliquer sur le bouton rouge Me désinscrire !
      </p>
    </div>

    <h3 class="info-page__title title">
      Tes Missions (si tu décides de les accepter ! )
    </h3>

    <p>
      Certaines missions ne concernent pas toutes les cellules. Pour savoir quelles missions sont effectuées dans ta cellule de bénévolat, tu peux aller dans le calendrier et rechercher le mois où il y aura un emballage. Ensuite dans le menu déroulant <i>Choisis ton(tes) activité(s)</i>, tu pourras voir les missions proposées.
    </p>

    <h4 class="info-page__sub-title title--secondary">Réception de la marchandise</h4>
    <div class="info-page__content">
      <p>
        Cette mission requiert des personnes qui sont habiles avec le multitâches. Si besoin, les tâches sont adaptées aux capacités de chaque bénévole ! Tu pourrais être appelé(e) à écrire des informations sur des sacs, à coller des étiquettes, à monter des stations ou à transporter des poches d’aliments. Cette mission a lieu sans la présence des participants et tu seras guidé(e) par les membres d’équipe.
      </p>
    </div>

    <h4 class="info-page__sub-title title--secondary">Préparation des sacs</h4>
    <div class="info-page__content">
      <p>
        Cette mission ne concerne que la cellule de Montréal. Il s’agit d’étamper des sacs ou/et d’écrire des informations sur des sacs. Cette mission a lieu sans la présence des participants et tu seras guidé(e) par les membres d’équipe.
      </p>
    </div>

    <h4 class="info-page__sub-title title--secondary">Aménagent de la salle</h4>
    <div class="info-page__content">
      <p>
        Cette mission concerne la mise en place de la salle avant l’ouverture. Cela consiste à désinfecter le matériel (tables, balances,… ), placer les balances et les ustensiles nécessaires à l’emballage sur chaque table, préparer chaque station pour emballage. Cette mission à lieu sans la présence des participants et tu seras guidé(e)s par les membres d’équipes.
      </p>
    </div>

    <h4 class="info-page__sub-title title--secondary">Accueil</h4>
    <div class="info-page__content">
      <p>
        Cette mission ne concerne que certaines cellules. Regarde si des plages horaire sont ouvertes pour ta ville. Il s'agit de recevoir les participants, leur expliquer la marche à suivre, leur donner leurs factures de cueillette, s’occuper de la petite caisse, faire des remboursements et tenir un inventaire. Pour cette mission, c’est le moment d’ouvrir ton cœur afin de faire preuve d’empathie et de bienveillance avec les participants.
A noter que cette mission est davantage conseillée aux les mamans avec bébé ou aux personnes à mobilité réduite !
      </p>
    </div>

    <h4 class="info-page__sub-title title--secondary">Emballage</h4>
    <div class="info-page__content">
      <p>
        Cette mission concerne toutes les cellules et consiste à être assigné(e) à une station et à remplir les contenants des participants avec les aliments commandés sur la facture, à l’aide d’une balance. Si c’est ta première fois, tu recevras une formation afin d’être fin prêt(e) pour l’emballage.
      </p>
    </div>

    <h4 class="info-page__sub-title title--secondary">Fermeture et ménage de la salle</h4>
    <div class="info-page__content">
      <p>
        Cette mission ne concerne que certaines cellules. Regarde si des plages horaire sont ouvertes pour ta ville. Tu seras appelé(e) à faire diverses tâches telles que le ménage de la salle et la vaisselle. Cette mission a lieu sans la présence des participants et tu seras guidé(e) par les membres d'équipe.
      </p>
    </div>

    <h3 class="info-page__title title">Normes d’habillement et quoi prendre avec toi</h3>
    <div class="info-page__content">
      <p>
        Ces normes ont été établies dans une optique d'hygiène, afin de respecter les normes du <i>MAPAQ</i>.
      </p>
      <ul>
        <li>Porter des chaussures complètement <b>fermées</b>.</li>
        <li>Porter un chandail qui couvre les aisselles <b>(pas de camisole)</b>.</li>
        <li>Porter un chapeau ou un foulard qui couvre <b>entièrement</b> les cheveux (idéal pour le zéro déchet!).
          Si tu n’en as pas, des filets pour les cheveux et la barbe sont disponibles sur place.</li>
        <li>Enlever tous les bijoux et autres objets pouvant tomber dans les aliments.</li>
        <li>Ne pas porter de vêtements qui peuvent perdre des fibres facilement (exemple: laine à poil long).</li>
        <li>Porter des vêtements propres, utilisés exclusivement pour le travail en question
          (il peut faire chaud dans le local, c’est bien de miser sur le multicouches!).</li>
        <li>Prendre une bouteille d’eau hermétique et une collation ou un dîner au besoin (Du chocolat ou des petites grignotines santé te seront aussi offertes. Ainsi que tu café et du thé ! ).</li>
      </ul>
    </div>

    <h3 class="info-page__title title">Quand emballer ta commande</h3>
    <div class="info-page__content">
      Tu peux emballer ta commande le jour de ton bénévolat.
      Par contre, afin d'assurer un fonctionnement optimal dans la salle d'emballage, tu dois emballer ta commande avant ou après ton quart de bénévolat !
      Si tu emballes ta commande avant, prévois au moins une heure, afin d'arriver à l'heure pour le début de la formation!
      <p>Ton bénévolat est à Montréal : Il est possible d’emballer ta commande le même jour que ton quart de bénévolat.</p>
      Même si tu as choisi une autre plage horaire au moment de passer ta commande, tu n’as pas besoin de demander un changement de plage et aucun frais ne te sera chargé.
      Assure-toi que les locaux sont ouverts en consultant les heures d’ouverture ici : (<a href="https://nousrire.com/calendrier/" target="_blank">https://nousrire.com/calendrier/</a>)

      <p><b>A noter que</b> :</p>
      <ul>
        <li>Si ton bénévolat se déroule durant la 1ère plage horaire d’une journée d’emballage, l’emballage de ta commande se fera forcement après ton bénévolat.</li>
        <li>Si ton bénévolat se déroule durant la dernière plage horaire d’une journée d’emballage, l’emballage de ta commande se fera forcement avant ton bénévolat.</li>
      </ul>
    </div>

    <h3 class="info-page__title title">
      Toujours bon à savoir !
    </h3>

    <h4 class="info-page__sub-title title--secondary">Ta ponctualité</h4>
    <div class="info-page__content">
      <p>
        Ta ponctualité est importante pour le bon fonctionnement de la journée d'emballage!
      </p>
      <p>
	      Merci de te présenter <b>quinze minutes</b> plus tôt que l'heure du début de ton quart de bénévolat. Tu auras alors le temps de te préparer avant d'assister à la formation, pour ensuite aller œuvrer sur le plancher.
      </p>
      <p>Si tu arrives en voiture, prévois assez de temps pour te trouver un stationnement.</p>
    </div>

    <h4 class="info-page__sub-title title--secondary">Avant de quitter</h4>
    <div class="info-page__content">
      <p>
        Il est important d’aller voir une des personnes responsables des bénévoles avant de partir, pour qu'on note tes heures et qu'on puisse t'envoyer ton code promotionnel!
      </p>
    </div>
    <h4 class="info-page__sub-title title--secondary">Code promotionnel</h4>
    <div class="info-page__content">
      <p>Excellente nouvelle! NousRire a simplifié le processus de calcul et d'application du rabais pour ses précieux bénévoles!</p>

      <p>
        Finie, l'époque de devoir passer deux commandes pour ne pas dépasser ton montant! Hourra!
      </p>

      <p>Tu te mérites désormais un <b>5 $ de rabais pour chaque heure</b> partagée avec la communauté rieuse.</p>

      <p>
        A partir de maintenant, sache que <b>ton code promotionnel est permanent</b>, tu pourras le réutiliser de commande en commande. À chaque fois que tu viendras offrir de ton temps comme bénévole, tu bénéficieras d’un rabais correspondant à ton temps de présence. Le rabais est cumulatif, il sera donc ajouté au solde de ton code promotionnel.
      </p>

      <p>
        Afin de connaître le montant du rabais que tu t’aies offert, tu recevras la veille de l’ouverture de la commande suivant on bénévolat, un courriel dans lequel sera indiqué le montant de ton rabais ainsi que ton nouveau solde. Pense à vérifier ton courrier indésirable, car les courriels de NousRire s'y retrouvent parfois.
      </p>

      <p>
        Si tu as oublié ton code promotionnel, perdu le courriel, pas de panique !
        Tu trouveras ton code et le montant de ton solde dans l’onglet <a href="/schedule" target="_blank">Mon horaire</a> sur Volontaria ou dans ton compte sur notre boutique en ligne.
      </p>

      <p>
        A noter : le code promotionnel est valide en tout temps, il n’expire donc jamais. Tu peux en profiter quand bon te semble !
      </p>
    </div>

    <div class="info-page__content">
      <h3 class="info-page__title title">
        On progresse grâce à toi !
      </h3>
      <p>
        NousRire c’est aussi le mouvement et le changement vers l’amélioration constante.
        Pour cela, le retour sur ton expérience avec nous est importante.
        Après ton bénévolat, tu recevras par courriel un court questionnaire anonyme à remplir.
        Si tu n’as pu le faire avant, cela peut-être le bon endroit pour nous partager tes suggestions et tes commentaires.
      </p>
      <p>
        Ta vision est très précieuse pour nous et on est ouvert à tout ce qui pourrait contribuer à rendre ton expérience de bénévolat plus agréable!
      </p>
    </div>

    <div class="info-page__content">
      <h3 class="info-page__title title">
        Questions et support technique
      </h3>
      <p>
        Si tu as des questions ou besoin de support technique en lien avec le site Volontaria ou ton code promotionnel, tu peux contacter Julie via le <a href="https://nousrire.com/contact/" target="_blank">formulaire de contact</a> du site NousRire ou par téléphone au 514-817-0728.
      </p>
      <p>
        Si tu as des questions logistiques concernant ton bénévolat, tu peux contacter le ou la responsable de la cellule de ta ville. Tu trouveras les coordonnées dans l’onglet <a href="/contact" target="_blank">Contacts</a> du site Volontaria
      </p>
    </div>
    <br/>

    <p>Au plaisir de te compter parmi nous et de changer le monde ensemble !</p>
  </div>
</div>
