<div class="info-page">
  <div>
    <h3 class="info-page__title title">
      Inscription et désinscription
    </h3>
    <div class="info-page__content">
      <p>
        Bien le bonjour et d'infinis mercis pour ton implication chez <i>NousRire</i>!
        C'est grâce à ta participation et à celle de multiples autres membres que le groupe d'achats <i>NousRire</i> est possible, vivant et inspirant!
        C'est un plaisir de t'accueillir dans l'équipe des rieurs et des rieuses bénévoles!
        Tu trouveras dans cette section une série d'informations bien bonnes à savoir pour vivre au mieux ton expérience chez <i>NousRire</i>!
      </p>
    </div>


    <h4 class="info-page__sub-title title title--secondary">Le bénévolat c’est du sérieux! :)</h4>
    <div class="info-page__content">
      <p>
        Comme le succès d’une journée d’emballage dépend du nombre suffisant de bénévoles, nous comptons sur ta présence.
        Cependant, si un changement t’empêche de te présenter, tu peux te désinscrire toi-même.
        Si c'est possible pour toi de le faire deux ou trois jours à l'avance, c'est très apprécié!
      </p>
      <p>
        Sinon, désinscris-toi et contacte le ou la responsable de ta ville afin que nous trouvions un(e) autre bénévole pour combler ton poste dans l'équipe.
        Merci d'inclure dans ton message ton nom et la plage horaire concernée.
      </p>
    </div>

    <h4 class="info-page__sub-title title title--secondary">Inscription</h4>
    <div class="info-page__content">
      <p>
        Pour t'inscrire à une plage de bénévolat :
      </p>
      <ul>
        <li>Choisis la ville où tu souhaites faire du bénévolat.</li>
        <li>Clique sur <i>Choisis ton activité</i> (voir plus loin pour la description des missions).</li>
        <li>Choisis le mois que tu veux et clique sur une journée de bénévolat.  Les plages horaires s'afficheront dans le bas du calendrier.</li>
        <li>Clique sur la plage horaire de ton choix, révise les informations et coche <i>J'ai bien lu la page d'informations.</i> (à consulter absolument)
          et clique sur <i>M’inscrire comme bénévole</i>.</li>
      </ul>
      <p>
        Attention : Aucune autre confirmation ne te sera envoyée!
        Dès que tu es inscrit(e), ta participation est confirmée.
        Tu peux en tous temps aller voir ton horaire dans l’onglet <i>Mon horaire</i>.
        <br/>Tu peux nous informer par courriel si tu as des problèmes de santé, des restrictions ou des allergies et nous nous adapterons à tes besoins!
      </p>
    </div>

    <h4 class="info-page__sub-title title title--secondary">Désinscription</h4>
    <div class="info-page__content">
      <p>
        Il est possible de te désinscrire toi-même d'une plage horaire.
        Il te suffit d'aller dans l'onglet <i>Mon horaire</i> et de cliquer sur le bouton rouge <i>Me désinscrire</i>!
      </p>
    </div>

    <h3 class="info-page__title title">Coordonnées des responsables</h3>
    <div class="info-page__address">
      <div class="card">
          Abitibi-LaSarre<br/>
          Lynn Marcoux<br/>
          abitibi@nousrire.com<br/>
          819-333-3889
      </div>
      <div class="card">
          Drummondville<br/>
          Stéphanie Prime<br/>
          drummondville@nousrire.com<br/>
          819-461-6757
      </div>
      <div class="card">
          Gatineau<br/>
          Catherine Maher<br/>
          gatineau@nousrire.com<br/>
          819-271-1571<br/>
      </div>
      <div class="card">
	  Granby<br/>
	  Michelle Pinard<br/>
	  granby@nousrire.com<br/>
	  819-918-2536
      </div>
      <div class="card">
          Joliette<br/>
          Carmen Bruda<br/>
          joliette@nousrire.com<br/>
          514-570-3443
      </div>
      <div class="card">
          Kamouraska<br/>
          Cindy Garneau<br/>
          kamouraska@nousrire.com<br/>
          418-551-4802
      </div>
      <div class="card">
          Laurentides-Ste-Agathe-des-Monts<br/>
          Katy Demers Primeau<br/>
          val-david@nousrire.com<br/>
          438-396-5030
      </div>
      <div class="card">
          Laval<br/>
          Carmen Bruda<br/>
          laval@nousrire.com<br/>
          514-570-3443
      </div>
      <div class="card">
          Mascouche/Terrebonne<br/>
          Carmen Bruda<br/>
	  Katy Demers Primeau<br/>
          mascouche-terrebonne@nousrire.com<br/>
          514-570-3443<br/>
	  438-396-5030
      </div>
      <div class="card">
          Montréal<br/>
          Julie Trolès<br/>
          benevoles@nousrire.com<br/>
          514-817-0728
      </div>
      <div class="card">
          Québec<br/>
          Véronique Lamothe<br/>
          quebec@nousrire.com<br/>
          581-741-3633
      </div>
      <div class="card">
          Sherbrooke<br/>
          Marie-Laurence Marcoux<br/>
          sherbrooke@nousrire.com<br/>
          819-575-2276
      </div>
      <div class="card">
          St-Hubert<br/>
          Tatiana Lokis<br/>
          st-hubert@nousrire.com<br/>
          438-503-5810<br/>
      </div>
      <div class="card">
          Sutton<br/>
          Michelle Pinard<br/>
          sutton@nousrire.com<br/>
	  819-918-2536
      </div>
      <div class="card">
          Trois-Rivières<br/>
          Joannie Hudon<br/>
          trois-rivieres@nousrire.com<br/>
          819-380-6394
      </div>
      <div class="card">
          Victoriaville<br/>
          Caroline Mercier<br/>
          victoriaville@nousrire.com<br/>
          819-990-1886
      </div>
      <div class="card">
          Ville Saguenay<br/>
          Caroline Laflamme<br/>
	  Katy Demers Primeau<br/>
          villesaguenay@nousrire.com<br/>
          514-771-5496<br/>
	  438-396-5030
      </div>
    </div>

    <h3 class="info-page__title title">
      Description des missions
    </h3>

    <h4 class="info-page__sub-title title--secondary">Réception de la marchandise et aménagement de la salle</h4>
    <div class="info-page__content">
      <p>
        Cette mission ne concerne que certaines cellules.
        Regarde si des plages horaires sont ouvertes pour ta ville.
        Cette mission requiert des personnes qui sont habiles avec le multitâches et
        les tâches seront adaptées aux capacités de chaque bénévole!
        Tu pourrais être appelé(e) à écrire des informations sur des sacs, à coller des étiquettes,
        à monter des stations ou à transporter des poches d’aliments.
        Cette mission a lieu sans la présence des participants et tu seras guidé(e) par les membres d’équipe.
      </p>
    </div>

    <h4 class="info-page__sub-title title--secondary">Préparation des sacs</h4>
    <div class="info-page__content">
      <p>
        Cette mission ne concerne que la cellule de Montréal.
        Il s’agit d’estamper des sacs ou d’écrire des informations sur des sacs.
        Cette mission a lieu sans la présence des participants et tu seras guidé(e) par les membres d’équipe.
      </p>
    </div>

    <h4 class="info-page__sub-title title--secondary">Accueil</h4>
    <div class="info-page__content">
      <p>
	Cette mission ne concerne que certaines cellules. Regarde si des plages horaire sont ouvertes pour ta ville. Il s'agit de recevoir les participants, de leur expliquer la marche à suivre et de leur donner leurs factures, de s’occuper de la petite caisse, de faire des remboursements et de tenir un inventaire. Bienvenue aux mamans avec bébé ou aux personnes à mobilité réduite!
      </p>
    </div>

    <h4 class="info-page__sub-title title--secondary">Emballage</h4>
    <div class="info-page__content">
      <p>
        Cette mission concerne toutes les cellules et consiste à être assigné(e) à une station et à remplir
        les contenants des participants avec les aliments commandés sur la facture, à l’aide d’une balance.
      </p>
    </div>

    <h4 class="info-page__sub-title title--secondary">Fermeture et ménage de la salle</h4>
    <div class="info-page__content">
      <p>
	Cette mission ne concerne que certaines cellules. Regarde si des plages horaire sont ouvertes pour ta ville. Tu seras appelé(e) à faire diverses tâches telles que le ménage de la salle et la vaisselle. Cette mission a lieu sans la présence des participants et tu seras guidé(e) par les membres d'équipe.
      </p>
    </div>

    <h3 class="info-page__title title">Quoi apporter et les normes d’habillement</h3>
    <div class="info-page__content">
      <p>
        Ces normes ont été établies dans une optique d'hygiène, afin de respecter les normes du <i>MAPAQ</i>.
      </p>
      <ul>
        <li>Porter des chaussures complètement <b>fermées</b>.</li>
        <li>Porter un chandail qui couvre les aisselles <b>(pas de camisole)</b>.</li>
        <li>Porter un chapeau ou un foulard qui couvre <b>entièrement</b> les cheveux (idéal pour le zéro déchet!).
          Si tu n’en as pas, des filets pour les cheveux et la barbe sont disponibles sur place.</li>
        <li>Enlever tous les bijoux et autres objets pouvant tomber dans les aliments.</li>
        <li>Ne pas porter de vêtements qui peuvent perdre des fibres facilement (exemple: laine à poil long).</li>
        <li>Porter des vêtements propres, utilisés exclusivement pour le travail en question
          (Il fait chaud dans le local, c’est bien de miser sur le multicouches!).</li>
        <li>Une bouteille d’eau et une collation ou un dîner au besoin (Du chocolat ou
          des petites grignotines santé te seront aussi offertes!).</li>
      </ul>
    </div>

    <h3 class="info-page__title title">Quand emballer ta commande</h3>
    <div class="info-page__content">
      <ul>
        <li>Tu fais ton bénévolat à Montréal?
          Il est possible d’emballer ta commande le même jour que ton quart de bénévolat,
          même si tu as choisi une autre plage horaire au moment de passer ta commande.
          Tu n’as pas besoin de faire de demande de changement de plage et tu n’auras pas à payer de frais non plus.</li>
        <li>Par contre, afin d'assurer un fonctionnement optimal dans la salle d'emballage,
          tu dois emballer ta commande <b>avant ou après ton quart de bénévolat!</b></li>
        <li>Assure-toi que les locaux sont ouverts en consultant les heures d’ouverture ici :
          (<a href="https://nousrire.com/calendrier/">https://nousrire.com/calendrier/</a>)</li>
        <li>Si tu veux emballer ta commande avant, tu dois prévoir au moins une heure, afin <b>d'arriver à l'heure pour le début de la formation!</b></li>
      </ul>
    </div>

    <h3 class="info-page__title title">
      À savoir pour le bénévolat
    </h3>

    <h4 class="info-page__sub-title title--secondary">Ponctualité</h4>
    <div class="info-page__content">
      <p>
        Ta ponctualité est importante pour le bon fonctionnement de la journée d'emballage!
      </p>
      <p>
	Merci de te présenter <b>quinze minutes</b> plus tôt que l'heure du début de ton quart de bénévolat. Tu auras alors le temps de te préparer avant d'assister à la formation, pour ensuite aller œuvrer sur le plancher.
      </p>
      <p>Si tu arrives en voiture, prévois assez de temps pour te trouver un stationnement.</p>
    </div>

    <h4 class="info-page__sub-title title--secondary">Avant de quitter</h4>
    <div class="info-page__content">
      <p>
        Il est important d’aller voir une des personnes responsables des bénévoles avant de partir, pour qu'on note tes heures et qu'on puisse t'envoyer ton code promotionnel!
      </p>
    </div>
    <h4 class="info-page__sub-title title--secondary">Code promotionnel</h4>
    <div class="info-page__content">
      <p>Excellente nouvelle! NousRire a simplifié le processus de calcul et d'application du rabais pour ses précieux bénévoles!</p>

      <p>Tu te mérites désormais un 5 $ de rabais sur une commande de n'importe quel montant pour chaque heure partagée avec la communauté rieuse.
        Finie, l'époque de devoir passer deux commandes pour ne pas dépasser ton montant! Hourra!
      </p>

      <p><b>Si tu en es à ta première implication</b>, tu recevras ton code promo ainsi que son solde par courriel, après la période d'emballage, au plus tard pour la prochaine ouverture de commande.
        Tu pourras l'inscrire dans la case réservée à cet effet au moment de finaliser ta commande suivante.
        Si tu n'utilises pas ton rabais au complet dans ta commande, tu pourras saisir le même code promo à ta commande suivante pour utiliser le reste de ton rabais.
      </p>

      <p><b>Si ce n'est pas ta première implication</b>, tu pourras désormais réutiliser le même code promo de commande en commande; tu en recevras par courriel le solde total actualisé à la suite de chacune de tes implications, après la période d'emballage, au plus tard pour la prochaine ouverture de commande.
        Si tu n'utilises pas ton rabais au complet dans ta commande, tu pourras saisir le même code promo à ta commande suivante pour utiliser le reste de ton rabais.
      </p>

      <p>Si tu fais du bénévolat sans passer de commande à une certaine commande, tes rabais se cumuleront et tu pourras en utiliser une partie ou la totalité quand bon te semblera, puisque les codes promo n'expirent jamais.</p>

      <p>Pense à vérifier ton courrier indésirable, car les courriels de NousRire s'y retrouvent parfois.
        Tu recevras aussi par courriel un court questionnaire à remplir, pour nous partager tes suggestions et tes commentaires.
        Ta vision est très précieuse pour nous et on est ouvert à tout ce qui pourrait contribuer à rendre ton expérience de bénévolat plus agréable!</p>
    </div>

    <div class="info-page__content">
      <h3 class="info-page__title title">
        Questions et support technique
      </h3>
      <p>
        Si tu as des questions ou besoin de support technique en lien avec l'application <i>Volontaria</i> ou
        ton code promo, contacte Julie Trolès à cette adresse : benevoles@nousrire.com ou
        par téléphone au 514-817-0728.
      </p>
      <p>Au plaisir de te compter parmi nous et de changer le monde ensemble! ☺</p>
    </div>

  </div>
</div>
