<div class="info-page">
  <div>
    <p>
      Bien le bonjour et d'infinis mercis pour ton implication chez <i>NousRire</i>!
    </p>
    <p>
      C'est grâce à ta participation et à celle de multiples autres membres que le groupe d'achats <i>NousRire</i> est possible, vivant et inspirant!

      C'est un plaisir de t'accueillir dans l'équipe des rieurs et des rieuses bénévoles!
      Tu trouveras dans cette section une série d'informations bien bonnes à savoir pour vivre au mieux ton expérience chez <i>NousRire</i>!
    </p>

    <h3 class="info-page__title">
      <b><u>Informations importantes à lire concernant Volontaria</u></b>
    </h3>

    <div class="info-page__content">
      <h4><u>Inscription</u></h4>
      <p>
        Pour t'inscrire à une plage de bénévolat :
      </p>
        <ul>
          <li>Clique sur <i>M’inscrire à une plage horaire</i>, selon la période d’emballage de ton choix.</li>
          <li>Clique sur <i>Filtrer par cellule</i> et choisis la ville de ton choix.</li>
          <li>Choisis la ou les plages horaires qui te conviennent et clique sur <i>M’inscrire</i>.</li>
          <li>Révise les informations concernant la ou les plages horaires que tu as choisies et clique sur <i>M’inscrire comme bénévole</i>.</li>
        </ul>
      <p>
        Attention : Aucune autre confirmation ne te sera envoyée!
        Dès que tu es inscrit(e), ta participation est confirmée.
        Tu peux en tous temps aller voir ton horaire dans l’onglet <i>Mon horaire</i>.
        <br/>Tu peux nous informer par courriel si tu as des problèmes de santé, des restrictions ou des allergies et nous nous adapterons à tes besoins!
      </p>
    </div>

    <div class="info-page__content">
      <h4><u>Désinscription</u></h4>
      <p>
        Il est possible de te désinscrire toi-même d'une plage horaire.
        Il te suffit d'aller dans l'onglet <i>Mon horaire</i> et de cliquer sur le bouton rouge <i>Me désinscrire</i>!
      </p>
    </div>

    <div class="info-page__content">
      <h4><u>Le bénévolat c’est du sérieux!</u> :)</h4>
      <p>
        Comme le succès d’une journée d’emballage dépend du nombre suffisant de bénévoles, nous comptons sur ta présence.
        Cependant, si un changement t’empêche de te présenter, tu peux te désinscrire toi-même.
        Si c'est possible pour toi de le faire deux ou trois jours à l'avance, c'est très apprécié!
        <br/><br/>
        Sinon, désinscris-toi et appelle ou écris au responsable de ta ville de bénévolat afin que nous trouvions un(e) autre bénévole pour combler ton poste dans l'équipe.
        Merci d'inclure dans ton message ton nom et la plage horaire concernée.
      </p>
    </div>

    <div class="container">
      <div class="row cell-box-row">
        <div class="col-md-12 cell-box">
          <b>Abitibi-LaSarre</b><br/>
          Marilyn Coulombe<br/>
          abitibi@nousrire.com<br/>
          819-797-1297
        </div>
      </div>
      <div class="row cell-box-row">
        <div class="col-md-12 cell-box">
          <b>Gatineau</b><br/>
          Charlène Brassard<br/>
          gatineau@nousrire.com<br/>
          819-328-2427<br/>
        </div>
      </div>
      <div class="row cell-box-row">
        <div class="col-md-12 cell-box">
          <b>Joliette</b><br/>
          Carmen Bruda<br/>
          joliette@nousrire.com<br/>
          514-570-3443
        </div>
      </div>
      <div class="row cell-box-row">
        <div class="col-md-12 cell-box">
          <b>Kamouraska</b><br/>
          Cindy Garneau<br/>
          kamouraska@nousrire.com<br/>
          418-551-4802
        </div>
      </div>
      <div class="row cell-box-row">
        <div class="col-md-12 cell-box">
          <b>Laval</b><br/>
          Carmen Bruda<br/>
          laval@nousrire.com<br/>
          514-570-3443
        </div>
      </div>
      <div class="row cell-box-row">
        <div class="col-md-12 cell-box">
          <b>Mascouche/Terrebonne</b><br/>
          Carmen Bruda<br/>
          mascouche-terrebonne@nousrire.com<br/>
          514-570-3443
        </div>
      </div>
      <div class="row cell-box-row">
        <div class="col-md-12 cell-box">
          <b>Montréal</b><br/>
          Amélie Vadeboncoeur<br/>
          benevoles@nousrire.com<br/>
          514-817-0728
        </div>
      </div>
      <div class="row cell-box-row">
        <div class="col-md-12 cell-box">
          <b>Québec</b><br/>
          Maude Lavoie<br/>
          quebec@nousrire.com<br/>
          418-576-5172
        </div>
      </div>
      <div class="row cell-box-row">
        <div class="col-md-12 cell-box">
          <b>Sherbrooke</b><br/>
          Marie-Laurence Marcoux<br/>
          sherbrooke@nousrire.com<br/>
          819-575-2276
        </div>
      </div>
      <div class="row cell-box-row">
        <div class="col-md-12 cell-box">
          <b>St-Hubert</b><br/>
          Marie-Ève Bédard<br/>
          st-hubert@nousrire.com<br/>
          514-531-5186<br/>
        </div>
      </div>
      <div class="row cell-box-row">
        <div class="col-md-12 cell-box">
          <b>Sutton</b><br/>
          Jessica Martin<br/>
          sutton@nousrire.com<br/>
          579-436-8255
        </div>
      </div>
      <div class="row cell-box-row">
        <div class="col-md-12 cell-box">
          <b>Val-David</b><br/>
          Carmen Bruda<br/>
          val-david@nousrire.com<br/>
          514-570-3443
        </div>
      </div>
      <div class="row cell-box-row">
        <div class="col-md-12 cell-box">
          <b>Victoriaville</b><br/>
          Caroline Mercier<br/>
          victoriaville@nousrire.com<br/>
          819-990-1886
        </div>
      </div>
      <div class="row cell-box-row">
        <div class="col-md-12 cell-box">
          <b>Ville Saguenay</b><br/>
          Caroline Laflamme<br/>
          villesaguenay@nousrire.com<br/>
          514-771-5496
        </div>
      </div>
    </div>

    <h3 class="info-page__title">
      <b><u>Description des différentes missions proposées</u></b>
    </h3>

    <div class="info-page__content">
      <h4><u>Emballage</u></h4>

      <p>
        Cette mission concerne toutes les cellules et consiste à être assigné(e) à une station et à remplir les contenants des participants avec les aliments commandés sur la facture, à l’aide d’une balance.
      </p>
    </div>

    <div class="info-page__content">
      <h4><u>Réception de la marchandise et aménagement de la salle</u></h4>
      <p>
        Cette mission ne concerne que certaines cellules.
        Regarde si des plages horaires sont ouvertes pour ta ville.
        Cette mission requiert des personnes qui sont habiles avec le multitâches et les tâches seront adaptées aux capacités de chaque bénévole!
        Tu pourrais être appelé(e) à écrire des informations sur des sacs, à coller des étiquettes, à monter des stations ou à transporter des poches d’aliments.
        Cette mission a lieu sans la présence des participants et tu seras guidé(e) par les membres d’équipe.
      </p>
    </div>

    <div class="info-page__content">
      <h4><u>Préparation des sacs</u></h4>
      <p>
        Cette mission ne concerne que la cellule de Montréal.
        Il s’agit d’estamper des sacs ou d’écrire des informations sur des sacs.
        Cette mission a lieu sans la présence des participants et tu seras guidé(e) par les membres d’équipe.
      </p>
    </div>

    <div class="info-page__content">
      <h4><u>Emballage de l’huile de coco et du miso</u></h4>
        <p>
          Cette mission ne concerne que la cellule de Montréal!
          Il s’agit de faire fondre l’huile de coco et de la transvaser dans des pots Mason.
          Pour le miso, il s’agit de le répartir dans des pots Mason.
          Cette mission a lieu sans la présence des participants et tu seras guidé(e) par les membres d’équipe.
        </p>
    </div>

    <h3 class="info-page__title">
      <b><u>Informations importantes à lire avant de te présenter pour le bénévolat</u></b>
    </h3>

    <div class="info-page__content">
      <h4><u>Ponctualité</u></h4>
        <p>
          Merci de te présenter <u>dix minutes</u> plus tôt que l'heure du début de ton quart de bénévolat! Ta ponctualité est importante pour le bon fonctionnement de la journée d'emballage! Il est aussi important que tu assistes à la formation qui a lieu avant de commencer à œuvrer sur le plancher.
        </p>
        <p>
          Si tu arrives en voiture, prévois assez de temps pour te trouver un stationnement. Si tu veux emballer ta commande avant de commencer le bénévolat, prévois une bonne heure d’avance ou emballe-la après tes heures de bénévolat.
        </p>
    </div>

    <div class="info-page__content">
      <h4><u>Quoi apporter et les normes d’habillement</u></h4>
        <p>
          Ces normes ont été établies dans une optique d'hygiène, afin de respecter les normes du MAPAQ.
        </p>
        <ul>
          <li>Porter des chaussures complètement <u>fermées</u>.</li>
          <li>Porter un chandail qui couvre les aisselles (<u>pas de camisole</u>).</li>
          <li>Porter un chapeau ou un foulard qui couvre <u>entièrement</u> les cheveux (idéal pour le zéro déchet!). Si tu n’en as pas, des filets pour les cheveux et la barbe sont disponibles sur place.</li>
          <li>Enlever tous les bijoux et autres objets pouvant tomber dans les aliments.</li>
          <li>Ne pas porter de vêtements qui peuvent perdre des fibres facilement (exemple: laine à poil long).</li>
          <li>Porter des vêtements propres, utilisés exclusivement pour le travail en question (Il fait chaud dans le local, c’est bien de miser sur le multicouches!).</li>
          <li>Une bouteille d’eau et une collation ou un dîner au besoin (Du chocolat ou des petites grignotines santé te seront aussi offertes!).</li>
        </ul>
    </div>
    <div class="info-page__content">
      <h4><u>Quand emballer ta commande</u></h4>
      <ul>
        <li>Afin d'assurer un fonctionnement optimal dans la salle d'emballage, tu dois emballer ta commande <u>avant ou après ton quart de bénévolat</u>!</li>
        <li>Si tu veux l'emballer avant, tu dois prévoir au moins une heure, afin <u>d'arriver à l'heure pour le début de la formation</u>!</li>
      </ul>
    </div>

    <div class="info-page__content">
      <h4><u>Avant de quitter et suite à ton implication</u></h4>
      <p>
        Il est important d’aller voir une des personnes responsables des bénévoles avant de partir, pour qu'on note tes heures et qu'on puisse t'envoyer ton code promotionnel! Tu le recevras par courriel, après la période d'emballage!
      </p>
    </div>

    <div class="info-page__content">
      <h4><u>Avant de quitter et suite à ton implication</u></h4>
      <p>
        Il est important d’aller voir une des personnes responsables des bénévoles avant de partir, pour qu'on note tes heures et qu'on puisse t'envoyer ton code promotionnel! Tu le recevras par courriel, après la période d'emballage!
      </p>
    </div>

    <div class="info-page__content">
      <b>N'oublie pas de vérifier ton courrier indésirable, car les courriels de NousRire s'y retrouvent parfois!</b>
    </div>

    <div class="info-page__content">
      <ul>
        <li>
          <p>Pour la commande 16 (période d’emballage du 1er au 26 mai)</p>
          <ul>
            <li>Réception de ton code au plus tard le 1er juin pour l’ouverture des commandes</li>
            <li>Applicable à partir de la période de commandes du 1er au 17 juin</li>
          </ul>
        </li>

        <li>
          <p>Pour la commande 17 (période d’emballage du 29 mai au 23 juin)</p>
          <ul>
            <li>Réception de ton code au plus tard le 29 juin pour l’ouverture des commandes</li>
            <li>Applicable à partir de la période de commande du 29 juin au 15 juillet</li>
          </ul>
        </li>
      </ul>
    </div>
    <div class="info-page__content">
      <p>
        Tu recevras aussi par courriel un court questionnaire à remplir, pour nous partager tes suggestions et tes commentaires. Ta vision est très précieuse pour nous et on est ouvert à tout ce qui pourrait contribuer à rendre ton expérience de bénévolat plus agréable!
      </p>
      <p>
        Si tu as des questions ou besoin de support technique, contacte Amélie Vadeboncoeur à cette adresse : benevoles@nousrire.com ou par téléphone au 514-817-0728.
      </p>
      <br/>
      <p>Au plaisir de te compter parmi nous et de changer le monde ensemble! ☺</p>
    </div>
  </div>
</div>
