<div class="contact-page">
  <img class="contact-page__logo" src="assets/images/logo.png" alt="Logo of NousRire">
  <div class="contact-page__contacts">
    <div class="contact-page__contacts__people">
      <b>Julie Trolès</b><br/>
      Membre d’équipe chez NousRire - Implication bénévole<br/>
      <span>Voir <a href="https://fr.glassfrog.com/people/378117" target="_blank">mes rôles</a> chez NousRire</span><br/>
      Groupe d’achat d’aliments biologiques et écoresponsables en vrac<br/>
      <a href="https://nousrire.com/" target="_blank">www.nousrire.com</a><br/>
      (514) 817-0728
    </div>
    <div>
      Holacracy, le mode de gouvernance en place chez NousRire, est une nouvelle technologie d’organisation du travail, qui place la raison d’être au cœur de l’organisation et qui permet aux humains qui y œuvrent de déployer leur plein potentiel.<br/>
      Voir l’<a href="https://fr.glassfrog.com/organizations/13630/roles/10578176" target="_blank">holarchie</a> de NousRire
    </div>
  </div>

  <h4>
    Responsables des cellules :
  </h4>
  <div class="info-page__address">
    <div class="card">
        Abitibi-LaSarre<br/>
        Lynn Marcoux<br/>
        abitibi@nousrire.com<br/>
        819-333-3889
    </div>
    <div class="card">
        Drummondville<br/>
        Stéphanie Prime<br/>
        drummondville@nousrire.com<br/>
        819-461-6757
    </div>
    <div class="card">
        Gatineau<br/>
        Catherine Maher<br/>
        gatineau@nousrire.com<br/>
        819-271-1571<br/>
    </div>
    <div class="card">
  Granby<br/>
  Michelle Pinard<br/>
  granby@nousrire.com<br/>
  819-918-2536
    </div>
    <div class="card">
        Joliette<br/>
        Carmen Bruda<br/>
        joliette@nousrire.com<br/>
        514-570-3443
    </div>
    <div class="card">
        Kamouraska<br/>
        Cindy Garneau<br/>
        kamouraska@nousrire.com<br/>
        418-551-4802
    </div>
    <div class="card">
        Laurentides-Ste-Agathe-des-Monts<br/>
        Katy Demers Primeau<br/>
        val-david@nousrire.com<br/>
        438-396-5030
    </div>
    <div class="card">
        Laval<br/>
        Carmen Bruda<br/>
        laval@nousrire.com<br/>
        514-570-3443
    </div>
    <div class="card">
        Mascouche/Terrebonne<br/>
        Carmen Bruda<br/>
  Katy Demers Primeau<br/>
        mascouche-terrebonne@nousrire.com<br/>
        514-570-3443<br/>
  438-396-5030
    </div>
    <div class="card">
        Montréal<br/>
        Julie Trolès<br/>
        benevoles@nousrire.com<br/>
        514-817-0728
    </div>
    <div class="card">
        Québec<br/>
        Véronique Lamothe<br/>
        quebec@nousrire.com<br/>
        581-741-3633
    </div>
    <div class="card">
        Sherbrooke<br/>
        Marie-Laurence Marcoux<br/>
        sherbrooke@nousrire.com<br/>
        819-575-2276
    </div>
    <div class="card">
        St-Hubert<br/>
        Tatiana Lokis<br/>
        st-hubert@nousrire.com<br/>
        438-503-5810<br/>
    </div>
    <div class="card">
        Sutton<br/>
        Michelle Pinard<br/>
        sutton@nousrire.com<br/>
  819-918-2536
    </div>
    <div class="card">
        Trois-Rivières<br/>
        Joannie Hudon<br/>
        trois-rivieres@nousrire.com<br/>
        819-380-6394
    </div>
    <div class="card">
        Victoriaville<br/>
        Caroline Mercier<br/>
        victoriaville@nousrire.com<br/>
        819-990-1886
    </div>
    <div class="card">
        Ville Saguenay<br/>
        Caroline Laflamme<br/>
  Katy Demers Primeau<br/>
        villesaguenay@nousrire.com<br/>
        514-771-5496<br/>
  438-396-5030
    </div>
  </div>
</div>
