<div class="contact-page">
  <img class="contact-page__logo" src="assets/images/logo.png" alt="Logo of NousRire">
  <div class="contact-page__contacts">
    <div class="contact-page__contacts__people">
      <b>Julie Trolès</b><br/>
      Membre d’équipe chez NousRire - Implication bénévole<br/>
      NousRire - Groupe d’achat d’aliments biologiques et écoresponsables en vrac<br/>
      <a href="https://nousrire.com/" target="_blank">www.nousrire.com</a><br/>
      (514) 817-0728
    </div>
  </div>
</div>
