@import '../../../assets/scss/theme';

.ck-editor-page {
  text-align: center;

  &__action-nav {
    background-color: $instance-light-color;
    padding: 5px 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  &__content {
    padding: 50px;
  }
}
