@import '../../../../../assets/scss/theme';

.event-detail-preview-section {
  display: flex;
  align-items: flex-end;

  &__column {
    flex: 1;

    &__header {
      display: flex;
      justify-content: space-between;

      &__title {
        border-bottom: 1px solid $instance-color;
      }
    }

    &__progress-bar {
      margin-top: 20px;
      height: 20px;
      position: relative;
      background: #EFEFEF;
      border-radius: 25px;

      & > span {
        display: block;
        text-align: right;
        color: white;
        height: 100%;
        padding: 0 10px 0 0;
        border-radius: 20px;
        position: relative;
        overflow: hidden;
        transition: 0.4s;

        &:after{
          content: "";
          position: absolute;
          top: 0; left: 0; bottom: 0; right: 0;
          z-index: 1;
          border-top-left-radius: 20px;
          border-bottom-left-radius: 20px;
          overflow: hidden;
        }
      }
    }
  }

  &__title {
    margin-left: 40px;
  }
}
