<div class="event-detail-preview-section">
  <div class="event-detail-preview-section__header">
    <div class="event-detail-preview-section__header__title">
      {{ title }}
    </div>
    <div class="event-detail-preview-section__header__max">
      {{ maximum }}
    </div>
  </div>
  <div class="event-detail-preview-section__progress-bar">
    <span [ngStyle]="{ width: percentage + '%', 'background-color': color }">
      {{ value }}
    </span>
  </div>
  <div class="event-detail-preview-section__status">
    {{ status }}
  </div>
</div>
