.login-page {
  padding: 1rem;

  &__title {
    text-align: center;
  }

  &__form {
    background-color: #dfdfdf;
    padding: 2rem;

    width: 300px;
    margin: auto;

    text-align: left;

    &__error {
      color: red;
      text-align: center;
    }
  }
}
